<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>

<% if @failure_message %>
  <p><%= @failure_message %></p>
<% end %>


<%= form_for @user, url: signin_path, method: :post do |f| %>
  <%= f.label :name, "Your Name: " %>
  <%= f.collection_select(:name, User.all, :id, :name, prompt: "Please select your username from this dropdown") %><br>
  <%= f.label :password, "password" %>
  <%= f.password_field :password %><br>

  <%= f.submit "Sign In" %>
<% end %>

<br><br>

<p>New user? <%= link_to "Sign Up", new_user_path %><p>
