
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <%= form_tag(sessions_path) do %>
      <div class="form-group">
        <%= label_tag "Your name:" %>
        <%= select_tag :user_name, 
            options_for_select(@users.collect{ |u| [u.name, u.name] }, 
            params[:name]), 
            {:prompt => 'Please select your username from this dropdown'} 
        %>
      </div>
      <div class="form-group">
        <%= label_tag "Your password:" %>
        <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Please enter a password" %>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Sign In" class="btn btn-primary" data-disable-with="Sign In">
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

