<% if @user.admin %>
<h1> WELCOME ADMIN !!!!</h1>
<%end%>

<ul>
  <li>
    Name: <%= @user.name %>
  </li>
  <li>
    Nausea: <%= @user.nausea %>
  </li>
  <li>
    Happiness: <%= @user.happiness %>
  </li>
  <li>
    Mood: <%= @user.mood %>
  </li>
  <li>
    Tickets: <%= @user.tickets %>
  </li>
  <li>
    Height: <%= @user.height %>
  </li>
</ul>
