<%= form_tag signin_path do %>
<div class="form-group">
  <%= label_tag(:name, "Your Name:") %>
  <br>
  <%= collection_select(:user, :name, User.all, :name, :name, {:prompt => "Please select your username from this dropdown"})  %>
</div>
 <div class="form-group">
  <%= label_tag(:password, "Your password:") %><br>
  <%= password_field_tag :password, nil, class: 'form-control' %>
</div>
 <div class="actions">
  <%= submit_tag "Sign In" %>
</div>
<% end %>
