<h2>Signin</h2>

<%= form_for @user do |f| %>
    <%= f.label :user_name, "Name" %>
    <%= f.select_tag @user, :id, "name" %>
  

    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>

    <%= f.submit "Sign In"%>

<% end %>