<h1>Login</h1>
<%= form_for(:user, url: signin_path) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :password %></p>
  <p><%= f.text_field :password %></p>


  <%= f.submit "Sign In" %>
<% end %>