
<%= form_for :user, url: '/signin', method: :post do |f| %>
  Your name: <%= f.collection_select :name, User.all, :id, :name %> <br>
  Password: <%= f.password_field :password, id: 'password' %> <br>
  <%= f.submit "Sign In" %>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
