<h1>Log in</h1>
<%= form_for(:session, url:signin_path) do |f| %>
<%= f.label :name %>
<%= f.collection_select :user_name, User.all, :name, :name %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign In" %>
<% end %>