<%= form_for :user, url: '/signin' do |f| %>
<%= f.collection_select :name, User.all, :name, :name %>

 <label>Password:</label> <%= f.password_field :password, :id => "password"%>
Password Confirmation: <%= f.password_field :password_confirmation %>
<%= f.submit "Sign In" %>

 <% end %>