<h1>Signin</h1>

<%= form_tag '/signin', method: 'post' do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p><label>Your name:</label></p>
  <%= collection_select(:user, :name, User.all, :name, :name) %><br />
  <label>Your password:</label><p><%= password_field_tag :password %></p>
  <%= submit_tag "Sign In" %>
<% end %>


