<%= form_for @user, url: "/users" do |f| %>

	<div class="form-group">
		<%= f.label :name, "Select your name" %><br>
		<%= f.collection_select(:name, User.all, :id, :name, {include_blank: "Please select your name"})%>
	</div>

	<div class="form-group">
		<%= f.label :password, "Your password:" %><br>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div class="actions">
		<%= f.submit 'Sign In' %>
	</div>

	<% end %>