<%= form_for @user, url: "users/signin" do |f| %>

	<div class="field">
		<%= f.label :name, "Select your name" %><br>
		<%= f.collection_select(:id, User.all, :id, :name) %>
	</div>

	<div class="form-group">
		<%= f.label :password, "Your password:" %><br>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div class="actions">
		<%= f.submit 'Signin' %>
	</div>

	<% end %>