<h1>Sign in</h1>

<%= form_for @user, url: sessions_path do |f| %>
  <div class="field">
    <%= f.collection_select :name, User.all, :name, :name %><br>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :id => "password" %>
  </div>
  <div class="action">
    <br>
    <%= f.submit "Sign In" %>
  </div>

<% end %>
