<h1>Sign in</h1>

  <%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create')  do |f| %>

    <%= f.label :name %>
    <%= f.collection_select :name, @users, :name, :name%>

    <%= f.label :password, "password:" %>
    <%= f.password_field :password %>

    <%= f.submit 'Sign In'%>

  <% end %>

<br>

<h4><%=link_to 'Sign Up', new_user_path %></h4>
