<h1>Sign In</h1>
<%= form_for(:session, url: signin_path) do |f| %>

  <%= f.label :name %>
  <%= f.select :user_name, User.all.collect {|p| [p.name, p.id]} %> <br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Log in" %>

<% end %>
<br>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
