<h1> Sign In: </h1>

<%= form_for @user, url: signin_path(@user), method: :post do |f| %>
  <%= f.label :name %>
  <%= f.collection_select :name, User.all, :id, :name %>
  <br />
  <br />
  <%= f.label :password, id="password" %>
  <%= f.password_field :password %>
  <br />
  <br />
  <%= f.submit "Sign In" %>
<% end %>
