<h2>Login</h2>


<%= form_for @user, :url => 'login_path' do |f| %>


    <%= f.label :user_name, "Name" %>
    <%= f.collection_select :user, User.all, :id, :name %>

  

    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>


    <%= f.submit "Sign In"%>

<% end %>