<h1> User Sign In Form </h1>

<%= form_tag @session, url: signin_path do %>

    <%= label_tag :username %>
    <%= collection_select :user, :name, User.all, :id, :name  %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign In" %>

<% end %>