<h1> Login </h1>

<%= form_tag("/sessions", method: :post) do %>
  <%= label_tag :name, "Your name:" %>
  <%= select_tag "user[name]", options_from_collection_for_select(@users, :name, :name), prompt: "Please select your username from this dropdown" %>
  <br>
  <%= label_tag :password, "Your password:" %><br>
  <%= password_field_tag "password" %>
  <br>
  <%= submit_tag "Sign In" %>
<% end %>
