<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="form-group">
    <%= f.label :name, "Select name:" %><br>
      <%= f.collection_select :name, User.all, :name, :name %><br>
  </div>

  <div class="form-group">
    <%= f.label :password, "Enter your password" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>
