<h1>Sign In</h1>
<%= form_for(:session, url: signin_url) do |f| %>
<%= f.label :name %>
<%= f.text_field :user_name %>
<%= f.collection_select(:name, User.all, :id, :name) %><br>
<%= f.label :password %>
<%= f.password_field :password, id: "password" %><br>
<%= f.submit value: "Sign In" %>
<% end %>
