<h3>Sign In Page</h3>

<!-- NOTE : Replaced with code in layout so that notices will always appear and I don't need to worry about it -->
<!-- <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div><br>
<% end %> -->

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>

  <label for="user_name">Your name:</label>
    <%=select_tag "user_name", options_from_collection_for_select(@users, "name", "name"), prompt: "Please select your username from this dropdown" %>
    <br><br>

  <label for="password">Your password:</label>
    <%= password_field_tag "password" %>
    <br><br>

  <%= submit_tag 'Sign In' %>

<% end %>
