<h1>Sign in</h1>
<%= form_for :user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  <%= f.label "Your Name" %>
  <%= f.collection_select :name, User.all, :name, :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <br>
  <%= f.submit "Sign In" %>

<% end %>
