<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

   <p>
    <%= f.label :name, "Select your name" %><br>
    <%= f.collection_select(:name, @users, :name, :name) %>
  </p>

  <p>
    <%= f.label :password, "Enter your password:" %><br>
    <%= f.password_field :password %>
  </p>

  <%= f.submit 'Sign In' %>

<% end %>