<h1>Sign In:</h1>

<%= form_tag(signin_path) do %>
  <%= label_tag :name, 'Your Name:' %>
  <%= collection_select(:user, :name, User.all, :name, :name)%><br>

  <%= label_tag :name, 'Your Password:' %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In" %>
<%end%>
