<%= form_tag(sessions_path) do %>
  <div class="field required">
    <%= label_tag :user_name, nil, class: "hidden" %>
    <%= collection_select(:user, :name, @users, :id, :name, prompt: true) %>
  </div> 
  <div class="field required">
    <%= label_tag :user_password, nil, class: "hidden" %>
    <%= password_field_tag :user_password, nil, required: true, placeholder: "Password" %>
  </div>
  <%= submit_tag "Sign In" %>
<% end %>