Here we will sign the user in!!!

<%= form_tag '/sessions' %>
  <%= label_tag 'user_id', 'Your Name:' %>
  <%= collection_select :user, :id, @users, :id, :name %>

  <%= label_tag 'password', 'Your Password: ' %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Sign In' %>
</form>
