<h1>Sign in</h1>
   <%= form_tag '/signin' do %>
   <%= label_tag :user_name%>
   <%= text_field_tag :user_name %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Sign in"%>
<%end%>