<h1> "Toggle navigation Welcome Walt Disney" </h1>
user_admin

<%= form_tag('/user_admin') do %>
  Mood:<%= text_field_tag "mood" %><br>
  Tickets:<%= text_field_tag "tickets" %><br>
  Height:<%= text_field_tag "height" %><br>
  <%= submit_tag 'Create User' %>
<% end %>
