<h1>Sign In</h1>
<%= form_tag("/signin", method: "post") do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>Select a User:</p>
  <%= collection_select(:user, :name, User.all, :name, :name) %><br />
  <p>Password: <%= password_field_tag :password %></p>
  <%= submit_tag "Sign In" %>
<% end %>