

<%= form_for(user) do |f| %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <label>Password</label><br>
        <%= f.password_field :password %>
    </div>

    <div class="field">
    <label>Height (in inches)</label><br>
        <%= f.text_field :height %>
    </div>

    <div class="field">
        <label>How happy are you? (1-5 scale)</label><br>
        <%= f.text_field :happiness %>
    </div>

    <div class="field">
        <label>How nauseous are you? (1-5 scale)</label><br>
        <%= f.text_field :nausea %>
    </div>

    <div class="field">
        <label>How many dollars are in your pocket?</label><br>
        <%= f.text_field :tickets %>
    </div>

    <div class="field">
        <label>Check box if you are a theme park owner</label>
        <%= f.check_box :admin %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
