
<%= form_for @users do |f| %>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :height %>
	<%= f.number_field :height, class: "form-control" %></div>

<div class="form-group">
	<%= f.label :happiness %>
	<%= f.number_field :happiness, class: "form-control" %></div>

<div class="form-group">
	<%= f.label :nausea %>
	<%= f.number_field :nausea, class: "form-control" %></div>

<div class="form-group">
	<%= f.label :tickets %>
	<%= f.number_field :tickets, class: "form-control" %> </div>

<div class="form-group">
	<%= f.label :admin, "Check box if you are a theme park owner" %>
	<%= f.check_box :admin, class: "form-check-input" %></div>

<div class="form-group">
	<%= f.label :password %>
	<br>
	<%= f.password_field :password, class: "form-control"></div> 
	
<div class="actions">
	<%= f.submit class: "btn btn-primary" %>
</div>

<% end %>
			