<%= form_for(user) do |f| %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :height, value = "Height (in inches)" %><br>
  <%= f.text_field :height %></div>
  <div class="field"><%= f.label :happiness, value = "How happy are you? (1-5 scale)" %><br>
  <%= f.text_field :happiness %></div>
  <div class="field"><%= f.label :nausea, value = "How nauseous are you? (1-5 scale)" %><br>
  <%= f.text_field :nausea %></div>
  <div class="field"><%= f.label :tickets, value = "How many dollars are in your pocket?" %><br>
  <%= f.text_field :tickets %></div>
  <div class="field"><%= f.label :admin, value = "Admin?" %>
  <%= f.check_box(:admin) %>
  <div class="field"><%= f.label :password %><br>
  <%= f.text_field :password %></div>


  <br>

  <div class="actions"><%= f.submit 'Create User', :class => 'btn btn-primary' %></div>

<% end %>
