<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: "user[name]" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :tickets %><br>
    <%= f.number_field :tickets %>
  </div>
  <div class="field">
    <%= f.label :nausea %><br>
    <%= f.number_field :nausea %>
  </div>
  <div class="field">
    <%= f.label :happiness %><br>
    <%= f.number_field :happiness %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label "Are you a theme park owner?"%>
    <%= f.check_box :admin %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
