<% if flash[:alert] != "true"%>
  <%= content_tag :div, flash[:alert] %>
<% else %>
  <%= content_tag :div, flash[:notice] %>
<% end %>

<h2>Hi, <%= @user.name %>!</h2>

<p>Mood: <%= @user.mood %></p>
<p>Height: <%= @user.height %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Tickets: <%= @user.tickets %></p>

<%= link_to "See attractions", attractions_path %>
