<ul>

    <% if user.admin == true %>
        <li>ADMIN</li>
    <%end%>

  <li>
    Name: <%= user.name %>
  </li>
  <li>
    Tickets: <%= user.tickets %>
  </li>
  <li>
    Mood: <%= user.mood %>
  </li>
  <li>
    Height: <%= user.height %>
  </li>
  <li>
    <%= link_to "See attractions", attractions_path %>
  </li>

</ul>
