<%= form_tag '/users' do %>
  <div class="form-group">
    <%= label_tag 'Your name:' %>
    <%= collection_select(:user, :user_id, User.all, :id, :name, prompt: "Please select your username from this dropdown")%>
  </div>

  <div class="form-group">
    <%= label_tag 'Your password:' %><br>
    <%= password_field_tag 'password', '', class: "form-control"%>
  <div>

  <div>
    <%= submit_tag 'Sign In' %>
  </div>
<% end %>
