<div class="container">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <%= form_tag '/users' do %>
    <div class="form-group">
      <%= label_tag :user_name, 'Name' %><br>
      <%= text_field_tag 'user[name]', "", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= label_tag :user_height, 'Height (in inches)' %><br>
      <%= text_field_tag 'user[height]', "", type: "number", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :user_happiness, 'How happy are you? (1-5 scale)' %><br>
      <%= text_field_tag 'user[happiness]', "", type: "number", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :user_nausea, 'How nauseous are you?' %><br>
      <%= text_field_tag 'user[nausea]', "", type: "number", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :user_tickets, 'How many dollars are in your pocket?' %><br>
      <%= text_field_tag 'user[tickets]', "", type: "number", class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= label_tag :user_admin, 'Check box if you are a theme park owner'%>
      <%= check_box_tag 'user[admin]' %><br>
    </div>

    <div class="form-group">
      <%= label_tag :user_password, 'Your password' %><br>
      <%= password_field_tag 'user[password]', "", class: "form-control"%>
    </div>

    <%= submit_tag 'Create User', class: "btn btn-primary"%>
  <% end %>
</div>
