<div class="container" role="manin">
  <div class="new_form">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <label>Name</label><br>
        <%= f.text_field :name %><br>
      </div>

      <div class="form-group">
        <label>Height (in inches)</label><br>
        <%= f.text_field :height %><br>
      </div>

      <div class="form-group">
        <label>How happy are you? (1-5 scale)</label><br>
        <%= f.text_field :happiness %><br>
      </div>

      <div class="form-group">
        <label>How nauseous are you? (1-5 scale)</label><br>
        <%= f.text_field :nausea %><br>
      </div>

      <div class="form-group">
        <label>How many tickets do you have?</label><br>
        <%= f.text_field :tickets%><br>
      </div>

      <div class="form-group">
        <label>Check box if you are a theme park owner</label>
        <%= f.check_box :admin %><br>
      </div>

      <div class="form-group">
        <label>Password</label><br>
        Password: <%= f.password_field :password %><br>
      </div>

      <%= f.submit %>
    <% end %>

</div>
