<div class="container" role="main">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label "Height (in inches)" %><br>
      <%= f.text_field :height, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label "How happy are you? (1-5 scale)" %><br>
      <%= f.text_field :happiness, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label "How nauseous are you? (1-5 scale)" %><br>
      <%= f.text_field :nausea, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label "How many dollars are in your pocket?" %><br>
      <%= f.text_field :tickets, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label "Check box if you are a theme park owner" %>      
      <%= f.hidden_field :admin, value: 0 %>
      <%= f.check_box :admin, class: 'form-check-input'%>
    </div>

    <div class="form-group">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control'%>

      <div class="actions">
        <br>
        <%= f.submit "Create User", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>