<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :height %>
  <%= f.number_field :height %><br />
  <%= f.label :happiness %>
  <%= f.number_field :happiness %><br />
  <%= f.label :nausea %>
  <%= f.number_field :nausea %><br />
  <%= f.label :tickets %>
  <%= f.number_field :tickets %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <p>Admin? <%= f.check_box :admin, options = {:class => "user_admin"} %></p><br />
  <br />
  <%= f.submit %>
<% end %>
