<h1>Create New User</h1>
<%= form_for @user do |u| %>
    Name: <%= u.text_field :name %>
    How Happy Are You Right Now: <%= u.text_field :happiness %>
    Height: <%= u.number_field :height %>
    How Nauseaus are you right now: <%= u.number_field :nausea %>
    How many tickets do you have: <%= u.number_field :tickets %>
    Create Password: <%= u.text_field :password %>
    <%= u.submit "Create User" %>
<% end %>