<h2>Please signup below:</h2>

<%=form_for @user do |f| %>
	<label>Name: </label>
	<%=f.text_field :name %><br>
	<label>Height(in inches)</label>
	<%=f.text_field :height %><br>
	<label>How happy are you? (1-5 scale)</label>
	<%=f.text_field :happiness %><br>
	<label>How nauseous are you? (1-5 scale)</label>
	<%=f.text_field :nausea %><br>
	<label>How many dollars are in your pocket?</label>
	<%=f.text_field :tickets %><br>
	<label>Check box if you are a park owner</label>
	<%=f.check_box :admin %><br>
	<label>Password: </label>
	<%=f.text_field :password %><br>
	
	<%=f.submit "Create User" %>

<%end%>