<h1>Signup</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :height, "Height (in inches)" %><br>
  <%= f.text_field :height %><br>
  <%= f.label :happiness, "How happy are you? (1-5 scale)" %><br>
  <%= f.text_field :happiness %><br>
  <%= f.label :nausea, "How nauseous are you? (1-5 scale)" %><br>
  <%= f.text_field :nausea %><br>
  <%= f.label :tickets, "How many dollars are in your pocket?" %><br>
  <%= f.text_field :tickets %><br>
  <%= f.label :admin, "Checkbox if you are a themepark owner" %>
  <%= f.check_box :admin %><br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Create User" %>
<% end %>

<%= link_to "Back to homepage", root_path %>
