<h1>New Users, Sign Up here</h1>
<%= form_for :user, url: '/users' do |f| %>
  Username: <%= f.text_field :name %><br>
  Height: <%= f.text_field :height %><br>
  Happiness: <%= f.text_field :happiness %><br>
  Nausea: <%= f.text_field :nausea %><br>
  Tickets: <%= f.text_field :tickets %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Create User" %><br>
<% end %>
