
<!-- successfully signs up as non-admin -->
<%= form_for(@user) do |f| %>
  <label>Name</label><br>
  <%= f.text_field :name %><br>

  <label>Height</label><br>
  <%= f.text_field :height %><br>

  <label>Happiness</label><br>
  <%= f.text_field :happiness %><br>

  <label>Nausea</label><br>
  <%= f.text_field :nausea %><br>

  <label>How many dollars do you have?</label><br>
  <%= f.text_field :tickets %><br>

  <label>Password</label><br>
  <%= f.text_field :password %><br>

  <label for="user_admin">Check box if you are a theme park owner</label>
  <%= f.check_box :admin %>

  <%= f.submit %>
<% end %>
