<h1>New Account</h1>

<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |m| %>
			<li>
				<%= m %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<%= f.label :height %>
	<%= f.text_field :height, :placeholder => "Height in inches" %><br>
	<%= f.label :happiness %>
	<%= f.text_field :happiness, :placeholder => "1-5" %><br>
	<%= f.label :nausea %>
	<%= f.text_field :nausea, :placeholder => "1-5" %><br>
	<%= f.label :tickets %>
	<%= f.text_field :tickets %> <br>
	<%= f.label :admin %>
	<%= f.check_box :admin %> <br>
	<%= f.label :password %>
	<%= f.password_field :password %> <br>

	<%= submit_tag "Create User" %> 

<% end %>