<h1>Sign up!</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :password %>:
  <%= f.text_field :password %><br />

  <%= f.label :tickets %>:
  <%= f.number_field :tickets %><br />

  <%= f.label :nausea %>:
  <%= f.number_field :nausea %><br />

  <%= f.label :happiness %>:
  <%= f.number_field :happiness %><br />

  <%= f.label :height %>:
  <%= f.number_field :height %><br />

  <%= f.label :admin, "Check box if you are a theme park owner" %>
  <%= f.check_box :admin, class: "form-check-input" %>

  <%= f.submit %>
<% end %>
