<%= form_for @user do |f| %>

  <%= f.text_field :name, :placeholder => "Name" %><br>
  <br>

  <%= f.text_field :height, :placeholder => "Height" %><br>
  <br>

  <label>How happy are you?</label><br>
  <%= f.text_field :happiness, :placeholder => "1-5 scale" %><br>
  <br>

  <label>How nauseous are you?</label><br>
  <%= f.text_field :nausea, :placeholder => "1-5 scale" %><br>
  <br>

  <label>How many tickets do you have?</label><br>
  <%= f.text_field :tickets,:placeholder => "1-5 scale" %><br>
  <br>

  <label>Are you an admin?</label>
  <%= f.check_box :admin %><br>
  <br>

  <%= f.text_field :password, :placeholder => "Password"%><br>
  <br>

  <%= f.submit %>
<% end %>
