<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %><br>
    <%= f.label :height, 'Height (in inches)' %><br>
    <%= f.number_field :height, class: 'form-control' %><br>
    <%= f.label :happiness, 'How happy are you? (1-5 scale)' %><br>
    <%= f.number_field :happiness, class: 'form-control' %><br>
    <%= f.label :nausea, 'How nauseous are you? (1-5 scale)' %><br>
    <%= f.number_field :nausea, class: 'form-control' %><br>
    <%= f.label :tickets, 'How many tickets are in your pocket?' %><br>
    <%= f.number_field :tickets, class: 'form-control' %><br>
    <%= f.label :admin, 'Check box if you are a theme park owner' %>
    <%= f.check_box :admin, class: 'form-check-input'  %><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control' %><br>
    <%= f.submit 'Create User', class: 'btn btn-primary' %>
<% end %>
