<h1>Sign Up</h1>
<%= form_for :user, url: '/users' do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  Height: <%= f.text_field :height %>
	Happiness: <%= f.text_field :happiness %>
	Nausea:	<%= f.text_field :nausea %>
	Tickets: <%= f.text_field :tickets %>
	Admin? <%= f.check_box :admin, {id: 'user_admin'} %>

	<%= f.submit "Create User" %>
<% end %>
