

<h3>New User</h3>

<%= form_for(@user) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Password:</label><br>
  <%= f.text_field :password %><br>

  <label>Happiness:</label><br>
  <%= f.text_field :happiness %><br>

  <label>Nausea:</label><br>
  <%= f.text_field :nausea %><br>

  <label>Tickets:</label><br>
  <%= f.text_field :tickets %><br>

  <label>Height:</label><br>
  <%= f.text_field :height %><br>

  <%= f.check_box :admin %> <br>

  <%= f.submit "Create User" %>
<% end %>
