
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="form-group">
    <%= f.label :height %>
    <%= f.number_field :height %>
    </div>

    <div class="form-group">
    <%= f.label :happiness %>
    <%= f.number_field :happiness %>
    </div>

    <div class="form-group">
    <%= f.label :nausea %>
    <%= f.number_field :nausea %>
    </div>

    <div class="form-group">
    <%= f.label :tickets %>
    <%= f.number_field :tickets %>
    </div>

    <div class="form-group">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>

    <%= f.submit "Create User" %>

    <%end%>