<h1>Sign Up</h1>
<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :number_of_tickets %>
<%= f.text_field :tickets %>

<%= f.label :height_in_inches %>
<%= f.text_field :height %>

<%= f.label :how_happy_are_you? %>
<%= f.text_field :happiness %>

<%= f.label :how_nauseous_are_you? %>
<%= f.text_field :nausea %>

<%= f.label :admin? %>
<%= f.check_box :admin %>

<%= f.submit %>

<% end %>
