<h1>Sign Up</h1>
<%= form_for @user do |f| %>
    <%= f.text_field :name %>
    <%= f.password_field :password %>
    <%= f.text_field :nausea %>
    <%= f.text_field :happiness %>
    <%= f.text_field :tickets %>
    <%= f.text_field :height %>
    <%= f.check_box :admin %>
    <%= f.submit %>
    <% end %>