<h1>New Registration</h1>

<div class="container" role="main">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :height, "Height (in inches)" %><br>
      <%= f.number_field :height, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :happiness, "How happy are you? (1-5 scale)" %><br>
      <%= f.number_field :happiness, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :nausea, "How nauseous are you? (1-5 scale)" %><br>
      <%= f.number_field :nausea, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :tickets, "How many dollars are in your pocket?" %><br>
      <%= f.number_field :tickets, class: "form-control" %>
    </div>

    <br>
    <div>
      <%= f.check_box :admin %><br>
      <%= f.label :admin, "Are you a themepark owner?" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :password, "Password" %><br>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Create User" %>
    </div>
  <% end %>
</div>
