<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  <label>Name:</label>
  <%= f.text_field :name %><br>

  <label>Height:</label>
  <%= f.number_field :height %><br>
  <label>Happiness:</label>
  <%= f.number_field :happiness %><br>
  <label>Nausea:</label>
  <%= f.number_field :nausea %><br>
  <label>Tickets:</label>
  <%= f.number_field :tickets %><br>

  <input type="checkbox" name="admin" id="user_admin" value=true>Admin<br>
  <label>Password:</label>
  <%= f.password_field :password %><br>

  <%= f.submit 'Create User' %>
<% end %>
