<h1>New Users, Sign Up here</h1>
<%= form_for(@user) do |f| %>
  Username: <%= f.text_field :name, placeholder: "Name" %><br>
  Height: <%= f.text_field :height, placeholder: "Height"  %><br>
  Happiness: <%= f.text_field :happiness, placeholder: "Happiness"  %><br>
  Nausea: <%= f.text_field :nausea, placeholder: "Nausea"  %><br>
  Tickets: <%= f.text_field :tickets, placeholder: "Tickets"  %><br>
  Check box if you are a theme park owner <%= f.check_box :admin %><br>
  Password: <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.submit "Create User" %><br>
<% end %>
