<h1>New User</h1>
<%= form_for current_user, controller: 'users', action: 'create' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br></br>
    <%= f.label "Height (in inches)" %>
    <%= f.number_field :height %>
    <br></br>
    <%= f.label "How happy are you? (1-5 scale)" %>
    <%= f.number_field :happiness %>
    <br></br>
    <%= f.label "How nauseous are you? (1-5 scale)" %>
    <%= f.number_field :nausea %>
    <br></br>
    <%= f.label "How many dollars are in your pocket?" %>
    <%= f.number_field :tickets %>
    <br></br>
    <%= f.label "Check box if you are theme park owner" %>
    <%= f.check_box :admin %>
    <br></br>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <%= f.submit "Create User"%>
<% end %>
