<h1> Sign Up </h1>
<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br />
  <%= f.label :happiness %>
  <%= f.text_field :happiness %>
  <br />
  <%= f.label :nausea %>
  <%= f.text_field :nausea %>
  <br />
  <%= f.label :height %>
  <%= f.text_field :height %>
  <br />
  <%= f.label :tickets %>
  <%= f.text_field :tickets %>
  <br />
  <p>Admin? <%= f.check_box :admin, options = {:class => "user_admin"} %></p>
  <br />
  
  <%= f.submit "Create User"%>
<% end %>