<h1> Signup Page </h1>

<%= form_for :user, url: '/users' do |f| %>
  Username: <%= f.text_field :name %><br />
  <br />
  Password: <%= f.password_field :password %><br />
  <br />
  Password Confirmation: <%= f.password_field :password_confirmation %><br />
  <br />
<%= f.submit "Submit" %>
<% end %>
