<h1>Hi, <%= @user.name %>.</h1>
   

  <% if flash[:message] %>
   <p><%= flash[:message] %></p>
   <% end %>
    <p>Tickets: <%= @user.tickets %></p>
    <p>Mood: <%= @user.mood %></p>
    <p>Height: <%= @user.height %> inches</p>
    <p>Admin: <%= @user.admin if true %> ADMIN</p>
   <%= link_to 'See attractions', attractions_path %> 
    <%= link_to 'Log Out', signout_path%>
    
    <% if current_user.admin %>
    
 
<%= link_to 'Edit', edit_user_path(@user) %>

<% end %>
