<p>Name:</p>
<%= @user.name %>
<p>Mood:</p>
<%= @user.mood %>
<p>Nausea:</p>
<%= @user.nausea %>
<p>Happiness:</p>
<%= @user.happiness %>
<p>Height:</p>
<%= @user.height %>
<p>Tickets:</p>
<%= @user.tickets %>
<p>ADMIN</p>
<%= @user.admin %>

<a href="<%= attractions_path %>">See attractions</a>
