<h1>Hello, <%= @user.name %></h1>

<% if @user.admin %>
  <h2>ADMIN</h2>
<% else %>
  <h3>Your Mood: <%= @user.mood %></h3>
  <h3>Your remaining tickets: <%= @user.tickets %></h3>
  <h3>Your height: <%= @user.height %> inches</h3>
<% end %>

<%= link_to 'See attractions', attractions_path %><br>
<%= link_to 'Log Out', '/logout' %>
