
<h1>Show User</h1>

Name: <%= @user.name %><br>
Mood: <%= @user.mood %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %><br>

<%= link_to "See attractions", attractions_path if @user.admin == false %>
