<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

Name: <%= @user.name %><br>
Mood: <%= @user.mood %><br>
Happines: <%= @user.happiness %><br>
Nausea: <%= @user.nausea %><br>
Height: <%= @user.height %><br>
Tickets: <%= @user.tickets %><br>
<%= "ADMIN" if @user.admin %><br>

<%= link_to "Log Out", signout_path, method: "delete" %><br>
<%= link_to "See attractions", attractions_path %>