
<header class="header">
     Name
    <h1><%= @user.name %></h1>
    Id
    <h1><%= @user.id %></h1>
    Height
    <h1><%= @user.height %></h1>
    Mood
    <h1><%= @user.mood %></h1>
    Happy
    <h1><%= @user.happiness %></h1>
    Ticket
    <h1><%= @user.tickets %></h1>

      <%if @user.admin %>
           <h1> ADMIN </h1>
      <%end%>

    <%= link_to "Log Out", logout_path, :method => :delete %>

  </header>

  # attraction it the Physically roller-coaster

  # Ride- Going on the roller-coaster 