<h1><%= "ADMIN" if @user.admin %></h1>
<h2><%= @user.name %></h2>
<h3>Mood: <%= @user.mood %></h3>
<h3>Height: <%= @user.height %></h3>
<h3>Tickets: <%= @user.tickets %></h3>
<a href="/attractions">See attractions</a> 