<% if @message %>
    <p><%= @message %></p>
<% end %>

<p>Name: <%=@user.name%></p><br>
<p>Height: <%=@user.height%></p><br>
<p>Mood: <%=@user.mood%></p><br>
<p>Happiness: <%=@user.happiness%></p><br>
<p>Nausea: <%=@user.nausea%></p><br>
<p>Tickets: <%=@user.tickets%></p><br>
<p>ADMIN: <%=@user.admin%></p><br>
<%= link_to "Log Out", signout_path, method: :delete %>
<%= link_to "See attractions", attractions_path %>
