<% if @user.admin %>
  <h1>ADMIN</h1>
<% end %>

<h1>Welcome, <%= @user.name %></h1>
<p>Height: <%= @user.height %></p><br>
<p>Mood: <%= @user.mood %></p><br>
<p>Tickets: <%= @user.tickets %></p><br>
<%= flash[:message] %><br>

<%= link_to "See attractions", attractions_path %><br>
<%= link_to "Log Out", sessions_path, method: :delete %>
