<div class="container" role="main">
  <p id="notice"></p>
  <div class="center">
    <% if flash[:message] %>
    <h3> <%=flash[:message]%></h3>
    <% end %>
    <div class="info">
      <strong><%='ADMIN' if @user.admin %></strong>
      <p><strong>Name:</strong> <%= @user.name %></p>
      <p><strong>Tickets:</strong> <%= @user.tickets %></p>
      <p><strong>Mood:</strong>  <%= @user.mood %></p>
      <p><strong>Height:</strong> <%= @user.height %> inches</p>
      <p><a href="/attractions">See attractions</a></p>
    </div>
  </div>
</div>