<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @user.name %></p><br>
    <p><strong>Tickets:</strong> <%= @user.tickets %></p><br>
    <p><strong>Mood:</strong> <%= @user.mood %></p><br>
    <p><strong>Height:</strong> <%= @user.height %></p><br>
  </div>

</div>
