<h1><%= @user.name %></h1>
<ul>
  <li>Mood: <%= @user.mood %></li>
  <li>Nausea: <%= @user.nausea %></li>
  <li>Happiness: <%= @user.happiness %></li>
  <li>Tickets: <%= @user.tickets %></li>
  <li>Height: <%= @user.height %></li>
</ul>
