<% if !@attraction.nil? %>
<% if @user.height < @attraction.min_height && @user.tickets < @attraction.tickets %>
    <div class="notice"><%= flash[:fail] %></div>

<% elsif @user.height < @attraction.min_height %>
    <div class="notice"><%= flash[:too_short] %></div>

<% elsif @user.tickets < @attraction.tickets %>
    <div class="notice"><%= flash[:too_few_tickets] %></div>
    
<% else %>
    <div class="notice"><%= flash[:ride_success] %></div>
<% end %>
<% end %>




<% if @user.admin %>
  <h2>ADMIN</h2>
<% end %>
<h4>Name: <%= @user.name %>!</h4><br>
<h4>Tickets: <%= @user.tickets %></h4><br>
<h4>Mood: <%= @user.mood %></h4><br>
<h4>Height: <%= @user.height %> inches</h4><br>

<%= link_to "See attractions", attractions_path %><br>
<%= link_to "Log Out", logout_path %>
