<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<% if @user.admin %>
<h3>ADMIN</h3>
<% end %>
<h2>Name: <%= @user.name %></h2>
<h2>Mood: <%= @user.mood %></h2>
<h2>Tickets: <%= @user.tickets %></h2>
<h2>Height: <%= @user.height %></h2>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", logout_path %>
