
<h2> Here is your information <%= @user.name %></h2>

<ul>
  <li>Height: <%=@user.height%></li>
  <li>Mood: <%=@mood%></li>
  <li>Nausea Level: <%=@user.nausea%></li>
  <li>Tickets: <%=@user.tickets%></li>
</ul>
