<p><%= flash[:notice] %></p>

<p>Name: <%= @user.name %></p>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<% if @user.admin %>
  <p>ADMIN</p>
<% end %>

<%= link_to 'Log Out', logout_path, method: :delete %>
<%= link_to 'See attractions', attractions_path %>
