<%= "ADMIN" if @user.admin %>

<%= @user.name %>
Mood: <%= @user.mood if !@user.admin%>
<%= @user.height %>
<%= @user.happiness %>
<%= @user.nausea %>
<%= @user.tickets %>

<p><%= link_to 'See attractions',  '/attractions' %></p>

<p><%= link_to 'Log Out',  '/sessions/destroy', method: :delete %></p>
