<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @user.name %>
</h1><br>

<p>
  <strong>Nausea:</strong>
  <%= @user.nausea %>
</p><br>

<p>
  <strong>Happiness:</strong>
  <%= @user.happiness %>
</p><br>

<p>
  <strong>Mood:</strong>
  <%= @user.mood %>
</p><br>

<p>
  <strong>Tickets:</strong>
  <%= @user.tickets %>
</p><br>

<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p><br><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
