<%= flash[:alert] %>

<h1><%= @user.name %></h1>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<% if @user.is_admin? %>
  <p>ADMIN</p>
<% end %>

<%= link_to 'See attractions', attractions_url %>
