<p>Name: <%= @user.name %></p>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

<%= link_to 'Log Out', logout_path, method: :delete %>
<%= link_to 'See attractions', attractions_path %>
