<% if @message %>
  <p><%= @message %></p>
<% end %>

<div>
<% if @user.admin %>
<p><b>ADMIN</b></p>
<% end %>
<p><b>Name:</b> <%= @user.name %></p>
<p><b>Tickets:</b> <%= @user.tickets %></p>
<p><b>Mood:</b> <%= @user.mood %></p>
<p><b>Height:</b> <%= @user.height %></p>
<p><%= link_to "See attractions", attractions_path %>
</div>
