<p id="notice"><%= notice %></p>
<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">
  <div class="info">
    <% if @user.admin %>
      <p>ADMIN</p>
    <% end %>
    <p>Name: <%= @user.name %></p>
    <p>Height: <%= @user.height %></p>
    <p>Mood: <%= @user.mood %></p>
    <p>Tickets: <%= @user.tickets %></p>
    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <p><%= link_to 'See attractions', attractions_path %></p>
  </div>
</div>
