<% if flash[:message] %>
<div class="notice"><%= flash[:message] %></div>
<% end %>

<h1>User show page:</h1>

<% if current_user.admin %>
  <h2>ADMIN</h2>
<% end %>

Name: <%= current_user.name %><br>
Mood: <%= current_user.mood %><br>
Happines: <%= current_user.happiness %><br>
Tickets: <%= current_user.tickets %><br>
Height: <%= current_user.height %><br>

<br>
<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", '/logout', {method: 'post'} %>
