<h1><%= current_user.name %></h1><br>

<% if !current_user.admin %>
<h3>Mood: <%= current_user.mood %></h3><br>
<% else %>
<h3><%= "ADMIN" %></h3>
<% end %>

<h3>Tickets: <%= current_user.tickets %></h3><br>

<h3>Height: <%= current_user.height %></h3><br>
