<h1>Welcome, <%= @user.name %></h1>
<p>Height: <%= @user.height %></p><br>
<p>Happiness: <%= @user.happiness %> </p></br>
<p>Nausea: <%= @user.nausea %></p><br>
<p>Tickets Remaining: <%= @user.tickets %></p><br>
<p>Admin Status: <%= @user.admin %><p>
