<% if @user.admin %>
   ADMIN
<% end %>
<%= @user.name %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<p>Mood : <%= @user.mood %></p> 
<p>Tickets: <%= @user.tickets %></p> 
<p>Height: <%= @user.height %></p>
<%= link_to 'See attractions', attractions_path %>