<h1><%= @user.name %></h1>

<% if @message %>
  <p><%= @message %></p>
<% end %>

<p>Mood: <%= @user.mood %></p>

<p>Tickets: <%= @user.tickets %></p>

<p>Height: <%= @user.height %></p>

<p><%= "ADMIN" if user_admin %></p>

<p><%= link_to "See attractions", attractions_path %></p>

<p><%= link_to(controller: 'sessions', action: 'destroy') { 'Log Out' } %></p>
