<h1>Show Your Mom</h1>

    <div class="center">
        <strong>Name:</strong><%= @user.name %>
        <br><br>
        <strong>Tickets:</strong><%= @user.tickets %>
        <br><br>
        <strong>Mood:</strong><%= @user.mood %>
        <br><br>
        <strong>Height:</strong><%= @user.height %> inches
        <br><br>
        <p><%= link_to "See Attractions", attractions_path(@attractions) %></p>
    </div>
    