<h1><%= @user.name %></h1>
<%byebug%>
<% if @user.admin %>
  <h3>ADMIN</h3>
<%end%>

<p>Height: <%= @user.height%></p>

<p>Mood: happy <%= @user.happiness%></p>

<p>Nausea: <%= @user.nausea%></p>

<p>Tickets: <%= @user.tickets%></p>