<h2>Welcome <%= @user.name %>!</h2><br>
<h4>Tickets: <%= @user.tickets %></h4><br>
<h4>Mood: <%= @user.mood %></h4><br>
<h4>Height: <%= @user.height %> inches</h4><br>

<%= link_to "See Attractions", attractions_path %> 


User Show Page
