<p id="notice"><%= notice %></p>

<h1>Name: <%= @user.name %></h1>
<h3>Id: <%= @user.id %></h3>
<h3>Mood: <%= @user.mood %></h3>
<h3>Height: <%= @user.height %> inches</h3>
<h3>Tickets: <%= @user.tickets %></h3>

<p><%= link_to "See attractions", attractions_path %></p>
