
<h2> Toggle navigation Welcome </h2>

<% if @user.admin %>

  <p> ADMIN </p>
<br>
<% end %>

<% if @message %>
  <p> <%= @message %> </p>
  </div>
  <% end %>

Name: <%= @user.name %>
Mood: <%= @user.mood %> <br><br>
Tickets: <%= @user.tickets %><br><br>
Height: <%= @user.height %><br><br>
<br>
<p> See attractions <%= link_to "See attractions", attractions_path %> </P><br>
<p> Log Out <%= link_to "Log Out", signout_path %> </p>
