<% if @user.admin %>
    <h3>ADMIN</h3>
<% end %>

<h3><%= @user.name %></h3>
<h3>Tickets: <%= @user.tickets %></h3>
<h3>Mood: <%= @user.mood %></h3>
<h3>Height: <%= @user.height %></h3>


<%= link_to 'See attractions', attractions_path %><br>
<%= link_to 'Log Out', signout_path %>