

<% if flash[:message]%>
<div class="center alert">
<%=flash[:message]%>
</div>
<%end%>


<p><h1><%=@user.name%></h1></p>
<%if @user.admin%>
  ADMIN
  <%end%>
<p><h3>Mood: <%=@user.mood%></h3></p>
<p><h3>Height: <%=@user.height%></h3></p>
<p><h3>Tickets: <%=@user.tickets%></h3></p>


<%=link_to "See attractions", attractions_path %>
<p><%=link_to "Log Out", logout_path, method: 'delete' %> </p>
