<h1>Welcome <%= @user.name %></h1>

<% if !!@user.admin %>
  <h4>Status: ADMIN</h4>
<% else %>
  <% @attributes.each do |attribute, value| %>
   <p>
     <%= attribute %> - <%= @user.attributes[attribute] %>
   </p>
  <% end %>
  <p>Mood: <%= @user.mood %></p>
<% end %>
<%= link_to "Log Out", logout_path %>
