<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<strong><%= "ADMIN" if @user.admin %></strong>
<p>Name: <%= @user.name %> </p>
<p>Tickets: <%= @user.tickets %></p>
<p>Mood: <%= @user.mood %></p>
<p>Height: <%= @user.height %></p>


<%= link_to "Edit User", edit_user_path(@user) %> <br>
<%= link_to "See attractions", attractions_path%>