<h1><%= @user.name %></h1>
<% if !@errors == nil %>
    <%= @errors %>
<% end %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<h4><%= 'ADMIN' if current_user_is_admin? %></h4>
<h3>Mood: <%= @mood %></h3>
<h3>Height: <%= @user.height %></h3>
<h3>Tickets: <%= @user.tickets %></h3>

<%= link_to "See attractions", attractions_path %>
# <%= link_to "Log Out", logout_path, method: 'delete' %>