<% if session %>
	<% if @user.admin %>
  		<h3>ADMIN</h3>
	<% end %>
<% end %>
Name: <%= @user.name %>
Tickets: <%= @user.tickets %>
Mood:<%= @user.mood %>
Height:<%= @user.height %> inches

<%= link_to "See attractions", '/attractions' %>
