
<header class="header">
     
    <h1><%= @user.name %></h1>
    <h1><%= @user.id %></h1>
    <h1><%= @user.height %></h1>
    <h1><%= @user.nausea %></h1>
    <h1><%= @user.happiness %></h1>
    <h1><%= @user.tickets %></h1>
  </header>