<h1>Show page</h1>

<p>Name: <%= @user.name %></p>
<p>Height: <%= @user.height %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Mood: <%= @user.mood %></p>