<%= @user.name %><br>
<% if @user.admin %>
  ADMIN<br>
  <%= link_to "See attractions", admin_attractions_path %><br>
<% else %>
  Mood: <%= @user.mood %><br>
  Height: <%= @user.height %><br>
  Tickets:  <%= @user.tickets %><br>

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div><br>
    <% end %>
  <%= link_to "See attractions", attractions_path %><br>
<% end %>



<%= link_to "Log Out", logout_path %>
