
User name: <h1><%= @user.name %></h1>
<% if @user.admin? %>
<h3> ADMIN </h3>
<% else %>
Height: <%= @user.height %> 
Mood: <%= @user.mood %>
Nausea: <%= @user.nausea %> 
Tickets: <%= @user.tickets %> 
<% end %>

<% if current_user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path %>
  <% end %>

<% if current_user || @current_user.admin? %>
  <%= link_to "See attractions", attractions_path %>
<% end %>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %><br />

<% if current_user %>
<%=    link_to "Log Out", :controller => 'sessions', :action => 'destroy' %>
<% else %>
<%=    link_to "Login", :controller => 'sessions', :action => 'new' %>
<% end %>
