<%= @user.name %>
Mood: <%= @user.mood %>
Tickets: <%= @user.tickets %>
<%= @user.happiness %>
<%= @user.nausea %>
<%= @user.height %>

<%= @user.admin %>
<a href="/attractions">See Attractions</a>
<a href="/logout">Log Out</a>