<h1>Welcome to the show page, population: YOU</h1>
<p>Name: <%=@user.name%></p>
<p>Height: <%=@user.height%></p>
<p>Mood: <%=@user.mood%></p>
<p>Tickets: <%=@user.tickets%></p>
<p><%="ADMIN" if @user.admin%></p>
<%= link_to 'Log Out', "/logout" %>
    
