<% if @message %>
    <p><%= @message %></p>
<% end %>

<%= @user.name %>
Mood: <%= @user.mood %>
Tickets: <%= @user.tickets %>
Height: <%= @user.height %>
<%= link_to "See attractions", attractions_path %>
