<h1><%= @user.name %></h1>
<% if @user.admin %>
  <h2>ADMIN</h2>
<% end %>

<ul>
  <li>Height: <%= @user.height %> inches</li>
  <li>Mood: <%= @user.mood %></li>
  <li>Tickets: <%= @user.tickets %></li>
</ul>

<%= link_to "Log Out", {controller: "sessions", action: "destroy"}, method: :delete %>
