<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hi, <%= @user.name %>!</h2>

    <p>Mood: <%= @user.mood %></p>
    <p>Height: <%= @user.height %></p>
    <p>Happiness: <%= @user.happiness %></p>
    <p>Nausea: <%= @user.nausea %></p>
    <p>Tickets: <%= @user.tickets %></p>


    <%= link_to "Log Out", '/logout' %>
  </body>
</html>
