<%if !flash.empty? %>
  <h1><%= flash[:notice]%></h1>
<%end%>

ADMIN: <%= @user.admin %>
Name: <%= @user.name %>
Tickets: <%= @user.tickets %>
Mood: <%= @user.mood %>
Height: <%= @user.height %>
<%= link_to "See attractions", attractions_path %>
