<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>
<h1>Name: <%= @user.name %></h1>
<% if @user.admin%>
  <h2>ADMIN</h2>
  <% end %>
<p>Height: <%= @user.height %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Mood: <%= @user.mood %></p>
<div class="navbar-toggle navbar-brand">
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='Log Out'>
    <% end %>
    </div>

<%= link_to "See attractions", attractions_path %>
