<h3>Name: <%= @user.name %></h3>
<p>Mood: <%= @user.mood %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<p>ADMIN: <%= @user.admin %></p>
<%= link_to "Log Out", signout_path, method: :post %>
<%= link_to "See attractions", attractions_path %>