
<h2>Name: <%= @user.name %></h2>
<h3>Tickets: <%= @user.tickets %></h3>
<h3>Mood: <%= @user.mood %></h3>
<h3>Height: <%= @user.height %> inches</h3>
<h3><%= 'ADMIN' if @user.admin %></h3>

<%= link_to "See attractions", attractions_path %></br>

<%= link_to "Log out", signin_path, method: "delete" %>
