
  
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.name %>. </h1>
<%end%>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", "/logout" %>
<% else %>
  <%= link_to 'Sign Up', "/signup" %>
  <%= link_to 'Log In', "/login" %>
  <% end %>
<p id=”notice”><%= notice %></p>


<h1><%= link_to "Catalog", "/catalog" %></h1><br>
<%= link_to "Log Out", "/logout" %>

