<p><%= @user.name %></p>
<p><%= @user.nausea %></p>
<p><%= @user.happiness %></p>
<p>Mood: <%= @user.mood %></p>
<p><%= @user.tickets %></p>
<p><%= @user.height %></p>
<p>ADMIN</p>

<p><%= link_to "Log Out", logout_path, method: :delete %></p>
