<p id="notice"><%= notice %></p>
 <% if @message %>
    <p><%= @message %></p>
 <% end %>

<% show_obj_info(@user).each do |x| %>
    <h3><%= x %></h3>
<% end %>
<h3><%= "Mood:  --  #{@user.mood}" %></h3>
    <% if @user.admin? %>
        <h1>"ADMIN"</h1>
    <% end %>
<%= link_to "See attractions", attractions_path %>
<h4><%= link_to "Log Out", signout_path %></h4>