<%= link_to "Log Out", logout_path, method: :delete %>
<%= link_to "See attractions", attractions_path %>

<% if @user.admin == true %>
<h2><%= "ADMIN" %></h2>
<% end  %>
<%= @user.name %>
<%= @user.height %>
<%= @user.happiness %>
<%= @user.nausea %>
<%= @user.tickets %>
Mood: <%= @user.mood %>
