<% if @user.admin %>
	<h5>ADMIN</h5>
<% end %>

<h1>Welcome <%= @user.name %></h1>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Height: <%= @user.height %></p>
<br>
<%= link_to "See attractions", attractions_path %>
<br>
<br>
Visited Rides:
<ul>
<% @user.rides.each do |ride| %>
	<li><%= ride.attraction.name %> - <%= ride.attraction.tickets %> tickets</li>
<% end %>
</ul>