<% if @message %>
  <p><%= @message %></p>
<% end %>

<% if @user.admin %>
  <p>ADMIN</p>
<% end %>
<p>Name: <%= @user.name %></p>
<p>Height:<%= @user.height %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Happiness:<%= @user.happiness %></p>
<p>Mood:<%= @user.mood %></p>
<p>Nausea:<%= @user.nausea %></p>
