
  <% if @user.admin %>
  <p><strong>ADMIN</strong></p>
  <% end %>

  <p><strong>Name:</strong> <%= @user.name %></p>

  <br><br>

  <p><strong>Tickets:</strong> <%= @user.tickets %></p>

  <br><br>

  <p><strong>Mood:</strong> <%= @user.mood %></p>

  <br><br>

  <p><strong>Height:</strong> <%= @user.height %> inches</p>

  <br><br>

  <%= link_to "See attractions", attractions_path%>
