<h1>Greetings<%= " ADMIN" if @user.admin %> <%= @user.name %>!</h1>
<p>Height: <%=@user.height%></p>
<p>tickets: <%=@user.tickets%></p>
<p>Mood: <%=@user.mood%></p>
<%= link_to "Log Out", logout_path %>
