<<<<<<< HEAD

<div class="container">
  <% if flash[:message] %>
  <div class="center">
    <%= flash[:message] %>
  </div>
  <% end %>
  <div class="center">

    <div class="info">
      <p>
        <% if current_user.admin %>
          <strong>ADMIN</strong>
        <% end %>
      </p>
    <p>
      <strong>Name:</strong> <%= @user.name %>
    </p>
    <p>
      <strong>Tickets:</strong> <%= @user.tickets %>
    </p>
    <p>
      <strong>Mood:</strong> <%= @user.mood %>
    </p>
    <p>
      <strong>Height:</strong> <%= @user.height %>
    </p>
    <p>
      <%= link_to 'See attractions', attractions_path %>
  </div>
  </div>
</div>
=======
<p id="notice"><%= notice %></p>



<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <% if @user.admin %>
      <p><strong>ADMIN</strong></p>
    <% end %>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Tickets:</strong> <%= @user.tickets %></p>
    <p><strong>Mood:</strong>  <%= @user.mood %></p>
    <p><strong>Height:</strong> <%= @user.height %> inches</p>
    <p><%= link_to 'See attractions', attractions_path %></p>
  </div>
</div>
>>>>>>> refs/remotes/origin/master
