<% if flash[:notice] %>
  <div style="color:red;"><%= flash[:notice] %></div>
<% end %>

<% if current_user.admin %>
<p>ADMIN</p>
<p>Name: <%= current_user.name %></p>
<p><%= link_to "See attractions", attractions_path %></p>
<% else %>
<p>Name: <%= current_user.name %></p>
<p>Tickets: <%= current_user.tickets %></p>
<p>Mood: <%= current_user.mood %></p>
<p>Height: <%= current_user.height %> inches</p>
<p><%= link_to "See attractions", attractions_path %></p>
<% end %>
