<h3>User Profile</h3>

<%= "ADMIN" if current_user.admin %>

<p><strong>Name:</strong> <%= current_user.name %></p>
<p><strong>Tickets:</strong> <%= current_user.tickets %></p>
<p><strong>Mood:</strong> <%= current_user.mood %></p>
<p><strong>Height:</strong> <%= current_user.height %></p>

<p><%= link_to "See attractions", attractions_path %></p>
<p><%= link_to "Log Out", logout_path %></p>
