
<h3>Name: <%=@user.name%></h3>
<h3>Tickets: <%=@user.tickets%></h3>
<h3>Mood: <%=@user.mood%></h3>
<h3>Height: <%=@user.height%></h3>
<%if @user.admin == true%>
	<h3>ADMIN</h3>
<%end%>
<%=link_to "See attractions", attractions_path %>

<%=link_to "Log Out", logout_path, method: "delete" %>