
<header class="header">
     Name
    <h1><%= @user.name %></h1>
    Id
    <h1><%= @user.id %></h1>
    Height
    <h1><%= @user.height %></h1>
    Mood
    <h1><%= @user.mood %></h1>
    Happy
    <h1><%= @user.happiness %></h1>
    Ticket
    <h1><%= @user.tickets %></h1>
  </header>