<h1><%= @user.name %></h1>
<p>Mood: <%= @user.mood if @user.mood %></p>
<p>nausea: <%= @user.nausea if @user.nausea %></p>
<p>happiness: <%= @user.happiness if @user.happiness %></p>
<p>tickets: <%= @user.tickets if @user.tickets%></p>
<p>height: <%= @user.height if @user.height %></p>
<p>admin: <%= @user.admin if @user.admin %></p>


<%if @user.admin = true %>
<%= link_to 'Attractions', attractions_path %>
<%end%>
