
<% if @user.admin  %>
  <p> ADMIN </p>
<%end %>
  
Name: <%= @user.name %> <br>
Tickets: <%= @user.tickets %> <br>
Mood: <%= @user.mood %> <br>
Height: <%= @user.height %> <br>

<%= link_to 'See attractions', '/attractions' %>

<br>

<%= link_to 'Log Out', '/logout' %>
