<div class="container">
    <p id="notice">
        <% if @ride.try(:errors) %>
            <% @ride.errors.full_messages.each do |message| %>
                <li><%= message %></li>
        <% end %>
    <% end %></p>

    <div class="center">
        <div class="info">
            <% if @user.admin == true %>
                <p><strong>ADMIN</strong></p>
            <% end %>
            <p><strong>Name:</strong> <%= @user.name %><p>
            <p><strong>Tickets:</strong> <%= @user.tickets %><p>
            <p><strong>Mood:</strong> <%= @user.mood %><p>
            <p><strong>Height:</strong> <%= @user.height %> inches<p>
            <p><%= link_to("See attractions", attractions_path) %><p>
        </div> <!-- .info -->
    </div> <!-- .center -->
</div> <!-- .container -->
