<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= @user.name %></h1>
<% if @user.admin %>
  <p>ADMIN</p>
<% else %>
  <ul>
    <li>Mood: <%= @user.mood %></li>
    <li>Tickets: <%= @user.tickets %></li>
    <li>Height: <%= @user.height %></li>
  </ul>
<% end %>

<%= link_to "See attractions", attractions_path %>

<br><br>

<%= link_to "Log Out", logout_path %>
