<p>Name: <%= @user.name %></p>
<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Nausea: <%= @user.nausea %></p>
<p>Height: <%= @user.height %></p>
<p>Happiness: <%= @user.happiness %></p>
<%= "ADMIN" if @user.admin %>
<%= link_to("See attractions", attractions_path) %>
<%= link_to("Log Out", logout_path) %>
<%= flash[:message] if flash[:message] %>