<% if @message %>
  <p><%= @message %></p>
<% end %>

<% if @user.admin %>
  <p><strong>ADMIN</strong></p>
<% end %>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Tickets:</strong> <%= @user.tickets %></p>
<p><strong>Mood:</strong>  <%= @user.mood %></p>
<p><strong>Height:</strong> <%= @user.height %> inches</p>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to 'See attractions', attractions_path %></p>

<div class="center">
  <%= link_to "Log Out", logout_path, :method => :delete, class: "btn btn-primary" %>
</div>
