<div class="center">
  <div class="info">
    Name: <%= @user.name %>
    Tickets: <%= @user.tickets %>
    Mood: <%= @user.mood %>
    Height: <%= @user.height %>
    <%= link_to 'See attractions', attractions_path %>
  </div>
</div>
