<h1><%= @user.name %></h1>
<h4>Mood: <%= @user.mood %></h4>
<h4>Height: <%= @user.height %></h4>
<h4><%= @user.tickets %> tickets </h4>
<%= link_to "Log Out", '/logout', method: :delete %>
<%= link_to "See attractions", '/attractions' %>
