<% if !flash.empty? %>
<h1><%= flash[:message] %></h1>
<% end %>

<h1>Hi, <%= @user.name %>!</h1>

<h3>Here's all your important stats:</h3>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<p>ADMIN: <%= @user.admin %></p>

<%= link_to "See attractions", attractions_url %>
<%= link_to "Log Out", logout_url %>
