<%= flash[:message] %>

<% if @user.admin %>
    <%= "ADMIN" %>
<% end %>
<h1>Name: <%= @user.name %> </h1><br>
<h2>Mood: <%= @user.mood %> </h2><br>
<h2>Tickets: <%= @user.tickets %> </h2><br>
<h2>Height: <%= @user.height %> </h2><br>

<%= link_to 'See attractions', '/attractions' %>

<%= link_to 'Log Out', '/logout' %>