<ul>
    <li><%= label_tag :admin, "ADMIN"%></li>
    <li><%= label_tag :name%><%=" : " + @user.name%></li>
    <li><%= label_tag :tickets%><%=" : " + @user.tickets.to_s%></li>
    <%#= label_tag "Mood"%><%#=" : " + @user.happiness.to_s%>
    <li><%= label_tag "Mood"%><%=" : " + "happy" %></li>
    <li><%= label_tag :height%><%=" : " + @user.height.to_s%></li>
    <%= link_to 'See attractions', attractions_path%>
</ul>

