<h1><%= "ADMIN" if @user.admin == true %></h1>
<h1><%= @user.name %></h1>
<p>Mood: <%= @user.mood if @user.mood %></p>
<p>Nausea: <%= @user.nausea if @user.nausea %></p>
<p>Happiness: <%= @user.happiness if @user.happiness %></p>
<p>Tickets: <%= @user.tickets if @user.tickets%></p>
<p>Height: <%= @user.height if @user.height %></p>
<p>Admin: <%= @user.admin if @user.admin %></p>



<%= link_to 'See attractions', attractions_path %>

<%= link_to 'Log Out', '/logout', method: :delete %>
