
<h1><%= "ADMIN" if @user.admin %></h1>
<h1>Welcome <%= @user.name %></h1>


Mood: <%= @mood %><br>
Height: <%= @user.height %><br>
Happiness: <%= @user.happiness %><br>
Tickets: <%= @user.tickets %><br>
