<h3>User Show</h3>
<% if @user %>
Name:<%= @user.name %>
Height:<%=@user.height %>
Mood: <%= @user.mood %>
Nausea: <%= @user.nausea %>
Tickets: <%= @user.tickets %>
Admin: <%= @user.admin %>
<% end %>
