<p id="notice"><%= notice %></p>
<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<h1><%= @user.name%></h1>

<% if @user.admin %>
  <p><strong>ADMIN</strong></p>
<% end %>

<strong>Mood:</strong> <%= @user.mood%> <br>
<strong>Tickets: </strong> <%= @user.tickets%> <br>
<strong>Height:</strong> <%= @user.height%> (inches)<br>

<%= link_to("See attractions", attractions_path)%>


