<div class="row mt-5">
  <div class="col">
    <h3>User Details</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    Name: <%= @user.name %>
  </div>
</div>

<div class="row">
  <div class="col">
    User Type: <%= @user.user_type %>
  </div>
</div>

<div class="row">
  <div class="col">
    Height: <%= @user.height %>
  </div>
</div>

<div class="row">
  <div class="col">
    Tickets: <%= @user.tickets %>
  </div>
</div>

<div class="row">
  <div class="col">
    Happiness: <%= @user.happiness %>
  </div>
</div>

<div class="row">
  <div class="col">
    Nausea: <%= @user.nausea %>
  </div>
</div>

<div class="row">
  <div class="col">
    Mood: <%= @user.mood %>
  </div>
</div>
