<%= form_for @user, url: "/session" do |f| %>

	<div class="field">
		<%= f.label :name, "Select your name" %><br>
		<%= f.collection_select(:id, @users, :id, :name)%>
	</div>

	<div class="field">
		<%= f.label :password, 'Enter your password' %><br>
		<%= f.password :password, class: "form-control" )%>
	</div>

	<div class="actions">
		<%= f.submit "Sign In" %>
	</div>

	<% end %>