<%= form_for :user, url: login_path  do |f| %>
  <div class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.submit "Sign In" %>
  </div>
<% end %>