<h1> Signin Page </h1>

<%= form_for @user, url: '/users/login' do |f| %>
  <%= f.label :name %>
  <%= f.collection_select :name, User.all, :name, :name %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <br />
<%= f.submit "Sign In" %>
<% end %>
