<%= form_for(:user, url: signin_path) do |f|%>
    <p>
        <%= f.label :user_name %>
        <%= f.collection_select :name, User.all, :id, :name %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>

      <%= f.submit %>
<% end %>
