<h1>Welcome!</h1>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
  <%= link_to('Logout', '/logout') %>
<% else %>
  <p>Please Log In or Sign Up</p>
<% end %>
