<h1>sign in:</h1>
<%= form_tag '/login', method: 'post' do %>
  <%= label_tag :name, "user_name" %>
  <%= text_field_tag :name %>
  <%= label_tag :password, "password" %>
  <%= text_field_tag :password %>
  <%= submit_tag "sign in"%>
<% end %>
