<h1>sign in:</h1>
<%= form_tag '/login', method: 'post' do %>
  <%= label :name %>
  <%= text_field :name %>
  <%= label :password %>
  <%= text_field :password %>
  <%= submit_tag "sign in"%>
<% end %>
