<h1>Food</h1>

<table>
<thead>
  <tr>
    <th></th>
  </tr>
</thead>

  <tbody>
  
      <% @foods.each do |food| %>
      <tr>
          <td> <h2> <%= food.business%></td> </h2>
          <td><h1>}</h1><td>
          <tr></tr>
          <td> <h4> <%= link_to 'Show', food %></td> </h4>
          <tr></tr>
          <td><h4><%= link_to 'Edit', edit_food_path(food) %></h4></td>
          <tr></tr>
          <td><h4><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></h4</td>
        </tr>
        
      <% end %>
    
      
      
    </tbody>
  </table>
<br></br>
<%= link_to 'New Food', new_food_path %> <br>
<br>

🥬
