<!DOCTYPE html>
<html>
  <head>
    <title>RailsAmusementPark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>      
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <% if current_user %>  
                <p class="navbar-brand">Welcome <%= current_user.name %></p>
                <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
                <a class="navbar-brand" href="<%= logout_url %>"/>Log out</a>
                
            <% else %>   
                <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
                <a class="navbar-brand" href="<%= new_user_url %>"/>Signup</a>
                <a class="navbar-brand" href="<%= signin_url %>"/>Signin</a>
               
            <% end %>
           <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
