<!DOCTYPE html>
<html>
  <head>
    <title>RailsAmusementPark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        
        
        
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        <% if !logged_in? %>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
          <a class="navbar-brand" href="<%= signin_path %>"/>Log in</a>
        <% end %>
          
        # <% if logged_in? %>
          <%= link_to "#{current_user.name}'s profile", user_path(current_user), class: "navbar-brand" %>
          <%= link_to "Log Out", logout_path, class:"navbar-brand", method: :delete %>
         
        <% end %>
        
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">

      <%= yield %>
    </div>
  </body>
</html>
