<ul>
  <li>
    Name: <%= attraction.name %>
  </li>
  <li>
    Total Number of Users: <%= attraction.number %>
  </li>
  <li>
    Ticket Requirement: <%= user.tickets %>
  </li>
  <li>
    Height Requirement: <%= user.height %>
  </li>
  <li>
    Nausea Rating: <%= user.nausea_rating %>
  </li>
  <li>
    Happiness Rating: <%= user.happiness_rating %>
  </li>

</ul>
