<h3><%= attraction.name %></h3>
<ul>
  <img src="http://www.allthingsclipart.com/05/amusement.park.05.jpg" width="100">
  <li>Tickets: <%= attraction.tickets %></li>
  <li>Nause Rating: <%= attraction.nausea_rating%></li>
  <li>Happiness Rating: <%= attraction.happiness_rating %></li>
  <li>Minimum Height (inches): <%= attraction.min_height %></li>
</ul>
