
  <label>Name:</label><br>
  <%= text_field_tag :'attraction[name]'%><br>

  <label>Height Requirement (in inches)</label><br>
  <%= text_field_tag :'attraction[min_height]'%><br>

  <label>How fun is it? (1-5 scale)</label><br>
  <%= text_field_tag :'attraction[happiness_rating]'%><br>

  <label>How nausea-inducing is it? (1-5 scale)</label><br>
  <%= text_field_tag :'attraction[nausea_rating]'%><br>

  <label>How many tickets does it cost?</label><br>
  <%= text_field_tag :'attraction[tickets]'%><br>
