<%= f.label :name %>
<%= f.text_field :name %>
<div>
  <%= f.label :tickets %>
  <%= f.text_field :tickets %>
</div>
<div>
  <%= f.label :happiness_rating %>
  <%= f.text_field :happiness_rating %>
</div>
<div>
  <%= f.label :nausea_rating %>
  <%= f.text_field :nausea_rating %>
</div>
<div>
  <%= f.label :min_height %>
  <%= f.text_field :min_height %>
</div>
