<%= form_for @attraction do |f| %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :nausea_rating %><br>
  <%= f.number_field :nausea_rating %></div>

  <div class="field"><%= f.label :happiness_rating %><br>
  <%= f.number_field :happiness_rating %></div>

  <div class="field"><%= f.label :tickets %><br>
  <%= f.number_field :tickets %></div>

  <div class="field"><%= f.label :min_height %><br>
  <%= f.number_field :min_height %></div>

  <br>

  <div class="actions"><%= f.submit :class => 'btn btn-primary' %></div>

<% end %>
