<% if @attraction.errors.any? %>
  <ul>
  <% @attraction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @attraction do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :min_height %><br>
  <%= f.text_field :min_height %><br>
  <br>
  <%= f.label :happiness_rating %><br>
  <%= f.text_field :happiness_rating %><br>
  <br>
  <%= f.label :nausea_rating %><br>
  <%= f.text_field :nausea_rating %><br>
  <br>
  <%= f.label :tickets %><br>
  <%= f.text_field :tickets %><br>
  <br>
  <%= f.submit %>
<% end %>
