<div class="field">
<label for="name">Attraction Name:</label><br>
<%= f.text_field :name %>
</div>

<div class="field">
<label for="tickets">Tickets:</label><br>
<%= f.number_field :tickets %>
</div>

<div class="field">
<label for="nausea_rating">Nausea Rating (1-5 scale):</label><br>
<%= f.number_field :nausea_rating %>
</div>

<div class="field">
<label for="happiness_rating">Happiness Rating (1-5 scale):</label><br>
<%= f.number_field :happiness_rating %>
</div>

<div class="field">
<label for="min_height">Minimum Height:</label><br>
<%= f.number_field :min_height %> inches
</div>
