<%= form_for(@attraction) do |f| %>
  <% if @attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this attraction from being saved:</h2>

      <ul>
      <% @attraction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tickets %><br>
    <%= f.number_field :tickets %>
  </div>
  <div class="field">
    <%= f.label :nausea_rating %><br>
    <%= f.number_field :nausea_rating %>
  </div>
  <div class="field">
    <%= f.label :happiness_rating %><br>
    <%= f.number_field :happiness_rating %>
  </div>
  <div class="field">
    <%= f.label :min_height %><br>
    <%= f.number_field :min_height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>