<%=form_for @attraction do |f|%>
<p><%=f.label :name%>
<%=f.text_field :name%></p>
<p><%=f.label :happiness_rating%>
<%=f.text_field :happiness_rating%></p>
<p><%=f.label :nausea_rating%>
<%=f.text_field :nausea_rating%></p>
<p><%=f.label :min_height%>
<%=f.text_field :min_height%></p>
<p><%=f.label :tickets%>
  <%=f.text_field :tickets%></p>
<p><%=f.submit%></p>
<%end%>
