<h1>Editing attraction</h1>

<%= form_for(@attraction, html:{class: "edit_attraction"}) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :min_height, "Height Requirement (in inches)" %><br>
    <%= f.text_field :min_height, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :happiness_rating, "How fun is it? (1-5 scale)" %><br>
    <%= f.text_field :happiness_rating, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nausea_rating, "How nausea-inducing is it? (1-5 scale)" %><br>
    <%= f.text_field :nausea_rating, class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.label :tickets, "How many tickets does it cost?" %><br>
      <%= f.text_field :tickets, class: 'form-control' %>
  </div>

  <%= f.submit "Update Attraction" %>
<% end %>

<%= link_to "Show", attraction_path(@attraction) %>
<%= link_to "Back", attractions_path %>
