<%= form_for @attraction do |f| %>
  <label>Attraction Name</label><br>
    <%= f.text_field :name %><br>

  <label>Ticket Cost</label><br>
    <%= f.text_field :tickets %><br>
  
  <label>Nausea Rating</label><br>
    <%= f.text_field :nausea_rating %><br>
  
  <label>Excitement Rating</label><br>
    <%= f.text_field :happiness_rating %><br>
  
  <label>Minimum Height Required (Inches)</label><br>
    <%= f.text_field :min_height %><br>
  
  <%= f.submit %><br>
<% end %>