<h2>Editing <%=@attraction.name%>...</h2>
<%=form_for :attraction, {url: attraction_path(@attraction), method: :patch} do |f|%>
    <%=f.text_field :name%>
    <%=f.number_field :min_height%>
    <%=f.number_field :happiness_rating%>
    <%=f.number_field :nausea_rating%>
    <%=f.number_field :tickets%>
    <%=f.submit 'Update Attraction', :name=>"update_attraction" %>
<%end%>