<h1>Editing attraction</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to "Show", @attraction %> |
<%= link_to "Back", attractions_path %>
=======
<%= link_to 'Show', @attraction %> |
<%= link_to 'Back', attractions_path %>
>>>>>>> refs/remotes/origin/master
