<%= form_for(@attraction) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :tickets %></p>
  <p><%= f.number_field :tickets %></p>
  <p><%= f.label :nausea_rating %></p>
  <p><%= f.number_field :nausea_rating %></p>
  <p><%= f.label :happiness_rating %></p>
  <p><%= f.number_field :happiness_rating %></p>
  <p><%= f.label :min_height %></p>
  <p><%= f.number_field :min_height %></p>

  <p><%= f.submit "Update Attraction" %></p>
<% end %>
