<h1>Edit Attraction</h1>
<%= form_for @attraction do |f|%>
  <label>Name</label> <br>
  <%= f.text_field :name %><br>
  <label>Minimum Height (in inches):</label> <br>
  <%= f.number_field :min_height %><br>
  <label>Happiness Rating (1-5 scale):</label> <br>
  <%= f.number_field :happiness_rating %><br>
  <label>Nausea Rating (1-5 scale):</label> <br>
   <%= f.number_field :nausea_rating %><br>
   <label>Number of Tickets:</label> <br>
   <%= f.number_field :tickets %><br>
   <%= f.submit "Update Attraction" %>
<% end %>