Here is a list of our rides! <br>

<br>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <% @attractions.each do |attraction| %>
  <tr>
    <td> <%= attraction.name %> </td>
    <td> <%= attraction.tickets %> </td>
    <% if @user.admin? %>
      <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %> </td>
    <% else %>
      <td><%= link_to "Go on #{attraction.name}",  attraction_path(attraction)%> </td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>

<% if @user.admin? %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
