<% if current_user.admin? %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>

<% @attractions.each do |a| %>
  <%= a.name %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
    <% @attractions.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.tickets %></td>
        <td> <% if !current_user.admin? %>
            <%= link_to "Go on #{a.name}", attraction_path(a) %>
             <% else %>
            <%= link_to "Show "+ a.name, attraction_path(a) %>
            <% end %></td>

      </tr>
    <% end %>


</table>
