<ul><% @attractions.each do |att| %>
    <li><%= att.name %> <br>
        <%= att.tickets %> tickets
        <% if @user.admin %>
            <%= link_to "Show #{att.name}", attraction_path(att) %>
        <% else %>
            <%= link_to "Go on #{att.name}", attraction_path(att) %><br><br></li>
        <% end %>
<% end %></ul>


<% if @user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>
<% end %>
