<h1>Attractions</h1>

<%= stylesheet_link_tag 'application' %>

<table class="table">
  <thead>
    <tr>
      <th colspan="3">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Name</strong>
      </td>
      <td>
        <strong>Tickets</strong>
      </td>
      <td>
        <strong>Details</strong>
      </td>
    </tr>
      <% @attractions.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.tickets %></td>
        <% if current_user.admin %>
            <td><%= link_to "Show #{a.name}", attraction_path(a) %></td>
        <% else %>
            <td><%= link_to "Go on #{a.name}", attraction_path(a) %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>