<h1>Listing attractions</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Tickets</th>
        <th>Details</th>
    </tr>
    <% @attractions.each do |a| %>
        <tr>
            <td><%= a.name %></td>
            <td><%= a.tickets %></td>
            <% if @user.admin == true %>
                <td><%= link_to "Show #{a.name}", attraction_path(a) %></td>
            <% else %>
                <td><%= link_to "Go on #{a.name}", attraction_path(a) %></td>
            <% end %>
        </tr>
    <% end %>
</table>

<% if @user.admin == true %>
    <%= link_to "New Attraction", new_attraction_url %>
<% end %>
