<h1>Listing attractions</h1>

<table class="table">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Tickets</strong></td>
            <td><strong>Details</strong></td>
        </tr>
    </thead>

    <tbody>
        <% @attractions.each do |attraction| %>
            <tr>
                <td><%=attraction.name%></td>
                <td><%=attraction.tickets%></td>

                <% if user_is_admin? %>
                    <td><%= link_to("Show #{attraction.name}", attraction_path(attraction)) %></td>
                <% else %>
                    <td><%= link_to("Go on #{attraction.name}", attraction_path(attraction)) %></td>
                <% end %>

                </tr>
        <% end %>
    </tbody>
</table>

<% if user_is_admin? %>
    <%= link_to("New Attraction", new_attraction_path) %>
<% end %>