<center>
  <% if current_user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>

    <% @attractions.each do |a| %>
      <h1><%= a.name %></h1>
      <%= link_to "Show #{a.name}", attraction_path(a) %><br />
    <% end %>
  <% else %>
  <% @attractions.each do |a| %>
    <h1><%= a.name %></h1>
    <%= link_to "Go on #{a.name}", attraction_path(a) %><br />
  <% end %>
  <% end %>
</center>
