<h1>Listing attractions</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @attractions.each do |att| %>
      <tr>
        <td><%= att.name %></td>
        <td class="num"><%= att.tickets %></td>
        <% if current_user.admin %>
          <td><%= link_to "Show #{att.name}", attraction_path(att) %></td>
        <% else %>
          <td><%= link_to "Go on #{att.name}", attraction_path(att) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to "New Attraction", new_attraction_path, :class => "link" %>
