<h1>Attractions</h1>
<% @attractions.each do |attraction| %>
  <ul>
    <li><%= attraction.name %> - <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
  </ul>
<% end %>

<% if current_user.try(:admin) %>
  <strong> Create a new ride: </strong>
  <%= form_for @new_attraction, method: 'post', url: {action: 'create'} do |f| %>
    Name: <%= f.text_field :name %><br>
    Minimum Height: <%= f.text_field :min_height %><br>
    Happiness Rating: <%= f.text_field :happiness_rating %><br>
    Nausea Rating: <%= f.text_field :nausea_rating %><br>
    Tickets Requirement: <%= f.text_field :tickets %><br>
    <%= f.submit "Create Attraction" %>
  <% end %>
<% end %>
