<h1>Attractions</h1>
<table>
    <tr>
        <td>
            <th>
                Name            
            </th>
        </td>
        <td>
            <th>
                Tickets            
            </th>
        </td>
        <td>
            <th>
                Details            
            </th>
        </td>
    </tr>
    <%@attractions.each do |att|%>
        <tr>
            <td><%=att.name%></td>
            <td><%=att.tickets%></td>
            <td>
                <% if @user.admin%>
                    <%=link_to "Show #{att.name}", attraction_path(att)%>
                <%else%>
                    <%=link_to "Go on #{att.name}", attraction_path(att)%>

                <%end%>
                
            </td>
        </tr>
    <%end%>
    
    <%= link_to "New Attraction", new_attraction_path if @user.admin%>
</table>