<h1> Listing Attractions </h1>

<table id="attraction_index">
  <tr>
    <th> Name </th>
    <th> Tickets </th>
    <th> Details </th>
  </tr>
  <tr> <%= @attractions.each do |a| %>
    <td><%= a.name %> </td>
    <td><%= a.tickets %> </td>
    <td><%if @user.admin %>
      <%= link_to "Show #{a.name}", attraction_path(a) %>
      <% else %>
      <%= link_to "Go on #{a.name}", attraction_path(a) %>
      <% end %> </td>
    <% end %>
  </tr>
</table>
<br>

<%= link_to "New Attraction", "/attractions/new" %>

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>
