<h1>Listing attractions</h1>

<table>
	<thead>
		<tr>
			<th colspan="3">Attractions</th>
		</tr>
	</thead>

	<tbody>
		<tr grid>
			<td>Name</td>
			<td>Tickets</td>
			<td>Details</td>
		</tr>
		<% @attractions.each do |attraction| %>
		<tr> 
			<td><%= attraction.name %> </td>
			<td><%= attraction.tickets %></td>
			<% if current_user.admin %>
				<td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
				</td>
			<% else %>
				<td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>				
				</td>
			<% end %> 
		</tr>
	  <% end %> 
	</tbody>

</table>
<br>


<% if @user %>
  <p>
    <%= link_to "User Show page ", user_path(@user), {class: "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Attraction', new_attraction_path %></p>
<% end %>
