<h1>Listing Attractions</h1>

<label></label>

<% @attractions.each do |attraction| %>
<li>  <%= attraction.name %> </li>
<li>  <%= attraction.tickets %> </li>
  <% if current_user.admin %>
<li>  <%= link_to "Show #{attraction.name}", attraction_path(attraction) %> </li>
  <% else %>
<li>  <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
  <% end %>
<% end %>

<p><%= link_to "New Attraction", new_attraction_path if current_user.admin %></p>
