<h1><Look at our ATTRACTIONS!!/h1>
<div>
    <table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Ticket Cost</th>
            <th>Details</th>
        </tr>
        <% @attractions.each do |attraction| %>
        <tr>
            <td><%= attraction.name %></td>
            <td><%= attraction.tickets %></td>
            <% if current_user.admin %>
                <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
            <% else %>
                <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
            <% end %>
        <% end %>
        </tr>
        </tbody>
    </table>
    <% if current_user.admin %>
    <p><%= link_to 'New Attraction', new_attraction_path %></p>
    <% end %>
</div>
