<h1> All Attractions </h1>
<ul>
  <% @attractions.each do |attraction| %>
    <li>Attraction Name: <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    <ul>
      <li>Tickets Needed: <%= attraction.tickets %></li>
      <li>Nausea Rating: <%= attraction.nausea_rating %></li>
      <li>Happiness Rating: <%= attraction.happiness_rating %></li>
      <li>Minimum Required Height: <%= attraction.min_height %></li><br>
  </ul>
<% end %>
</ul>
