<h1>Listing attractions</h1>
<% @attractions.each do |attraction| %>
  <%= attraction.name %>
  <%= attraction.tickets %>
  <% if @user.admin%>
    <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
  <% else %>
    <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
  <% end %>
<% end %>

<div>
  <% if @user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>
  <% end %>
</div>
