<h1>Attractions</h1>

<% if current_user.try(:admin) %>
  <% @attractions.each do |attraction| %>
    <ul>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %> - <%= link_to "Edit Attraction", edit_attraction_path(attraction) %></li>
    </ul>
  <% end %>
  <strong> New Attraction: </strong>
  <%= form_for @new_attraction, method: 'post', url: {action: 'create'} do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit "Create Attraction" %>
  <% end %>

<% else %>
  <% @attractions.each do |attraction| %>
    <ul>
      <li><%= attraction.name %> - <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    </ul>
  <% end %>
<% end %>
