<h1>Listing Attractions</h1>

<tr>
  <th>Name</th>
  <th>Tickets</th>
  <th>Details</th>
</tr>

<% if @user.admin %>
  <% @attractions.each do |attraction|%>
    <tr>
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <td><%= link_to 'Show ' + attraction.name, attraction_path(attraction) %></td><br>
    </tr>
  <% end %>
  <%= link_to 'New Attraction', new_attraction_path %>
<% else %>
  <% @attractions.each do |attraction|%>
    <tr>
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <td><%= link_to 'Go on ' + attraction.name, attraction_path(attraction) %></td><br>
    </tr>
  <% end %>

<% end %>
