<h1> Listing attractions </h1>

<%@attractions.each do |attraction| %>
  <%=attraction.name%>
  byebug
  <%=not_admin_link(@user)%>
  <%= link_to_if(!@user.admin, "Go on #{attraction.name}", attraction_path(attraction) ) %>
  <%= link_to_if(@user.admin, "Show #{attraction.name}", attraction_path(attraction) ) %>
  <br><br>
<%end%>


<%= link_to_if(@user.admin, "New Attraction", { controller: "attractions", action: "new" }) %>

