<h1>Attractions List</h1>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <% @attractions.each do |i|%>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.tickets %></td>
    <% if @user.admin %>
      <td><%=link_to "Show #{i.name}", attraction_path(i) %></td>
    <% else %>
      <td><%=link_to "Go on #{i.name}", attraction_path(i) %></td>
    <% end %>
  </tr>
  <%end%>
</table>

<% if @user.admin %>
  <%= link_to 'New Attraction', new_attraction_path %>
<% end %>
