<h1>Listing attractions</h1>

<table class="table">

  <thread><!--this will set 3 columns-->
    <tr>
      <th colspan="3"></th>
    </tr>
  </thread>

  <tbody>

    <tr><!--this will name the columns-->
      <td><strong>Name</strong></td>
      <td><strong>Tickets</strong></td>
      <td><strong>Details</strong></td>
    </tr>

    <% @attractions.each do |attraction| %>
    <tr><!--this will list the details of the column name-->
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <% if current_user.admin %>
        <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
      <% else %>
        <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>


<p><%= link_to "New Attraction", new_attraction_path %></p>
