<h1>Attractions List: </h1>
<table class="table">
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Tickets</strong></th>
    <th><strong>Details</strong></th>
  </tr>
  <% @attractions.each do |attraction| %>
    <tr>
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <% if current_user.admin %>
        <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
      <% else %>
        <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
