<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>


<div>
  <table class="table" >
    <th colspan="3">Name</th>
    <th colspan="3">Tickets</th>
    <th colspan="3">Details</th>
  <%@attractions.each do |attraction|%>
    <tr>
      <td colspan="3"><%=attraction.name%></td>
      <td colspan="3"><%=attraction.tickets%></td>
      <td colspan="3"><%=link_to "Go on #{attraction.name}", attraction_path(attraction)%></td>
    </tr>
  <%end%>
</table>
</div>

<%=link_to "New Attraction", new_attraction_path if admin_user?%>
