<h2> Toggle navigation Welcome

  <% @attractions.each do |attraction| %>
          <%= attraction.name %>
          <%= attraction.tickets %>>

            <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
              <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
          <% end %>

  <% if @user %>
    <p>
      <%= link_to "Back to profile", user_path(@user) %>
    </p>
  <% else %>
    <p><%= link_to 'New Attraction', new_attraction_path %></p>
  <% end %>
