<h1>Listing attractions</h1>

<%@attractions.each do |attr|%>
  <%=attr.name%><br>
  <%=attr.tickets%><br>
  <%if admin?%>
    <%=link_to "Show #{attr.name}", attraction_path(attr)%><br>
  <%else%>
    <%=link_to "Go on #{attr.name}", attraction_path(attr)%><br>
  <%end%>
  <br>
  <br>
  <br>
  <%end%>

  <%if admin?%>
    <%=link_to "New Attraction", new_attraction_path %>
  <%end%>
