<h1>Listing attractions</h1>
<table class="table">
  <tr>
        <td><strong>Name</strong></td>
        <td><strong>Tickets</strong></td>
        <td><strong>Details</strong></td>
      </tr>

<% Attraction.all.each do |a| %>
  <tr>
  <td><%= a.name %></td>
  <td><%= a.tickets %></td>
  <% if current_user.admin? %>
  <td><%= link_to "Show #{a.name}", attraction_path(a) %></td>

  <% else %>
  <td><%= link_to "Go on #{a.name}", attraction_path(a) %></td>
  <% end %>
<% end %>
</tr>
</table>

<% if current_user.admin? %>
<p><%= link_to "New Attraction", new_attraction_path %></p>
<% end %>
