<div class="role">
  <h1>New attraction</h1>
  <%= form_for @attraction do |f| %>
  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label "Height Requirement (in Inches)" %>
    <%= f.text_field :min_height %>
  </div>
  <div class="form-group">
  <%= f.label "How fun is it? (1-5 scale)" %>
  <%= f.number_field :happiness_rating %>
  </div>
  <div class="form-group">
    <%= f.label "How nausea-inducing is it? (1-5 scale)" %>
    <%= f.number_field :nausea_rating %>
  </div>
  <div class="form-group">
    <%= f.label "How many tickets does it cost?" %>
    <%= f.number_field :tickets %>
  </div>

    <div class="action">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
