<h3>Create and attraction</h3>

<%= form_for @attraction do |f| %>
<label for="attraction_name">Name:</label>
<%= f.text_field :name %><br>

<label for="attraction_min_height">Height (in inches)</label>
<%= f.text_field :min_height %><br>

<label for="attraction_happiness_rating">Happiness rating (1-5 scale)</label>
<%= f.text_field :happiness_rating %><br>

<label for="attraction_nausea_rating">Nausea Rating (1-5 scale)</label>
<%= f.text_field :nausea_rating %><br>

<label for="attraction_tickets">How many tickets needed to ride?</label>
<%= f.text_field :tickets %><br>


  <%= f.submit "Create Attraction" %>
<% end %>
