<h2>Create attraction!</h2>

<%= form_for @attraction do |f| %>
  Ride name: <%= f.text_field :name %><br></br>
  Nausea Rating: <%= f.text_field :nausea_rating %><br></br>
  Happiness Rating: <%= f.text_field :happiness_rating %><br></br>
  Tickets: <%= f.text_field :tickets %><br></br>
  Min Height: <%= f.text_field :min_height %><br></br>

  <%= f.submit "Create Attraction" %>
<% end %>
