<h1>New Attraction</h1>
 <%= form_for @attraction do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br>
   <%= f.label :min_height, "Minimum Height" %>
  <%= f.text_field :min_height %><br>
   <%= f.label :happiness_rating, "Happiness Rating" %>
  <%= f.text_field :happiness_rating %><br>
   <%= f.label :nausea_rating, "Nausea Rating" %>
  <%= f.text_field :nausea_rating %><br>
   <%= f.label :tickets, "Tickets" %><br>
  <%= f.text_field :tickets %>
   <%= f.submit "Create Attraction" %>
<% end %>