<%= form_for @attraction, controller: 'attractions', action: 'create' do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control'%>
</div>
<div class="form-group">
  <%= f.label :min_height %>
  <%= f.number_field :min_height, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :happiness_rating %>
  <%= f.number_field :happiness_rating, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :tickets %>
  <%= f.number_field :tickets, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :nausea_rating %>
  <%= f.number_field :nausea_rating, class: 'form-control' %>
</div>
  <%= f.submit "Create Attraction" %>
<% end %>
