
Name: <%= @attraction.name %> <br>
Total Number of Users: <%= @attraction.users.length %> <br>
Ticket Requirement: <%= @attraction.tickets %> <br>
Height Requirement: <%= @attraction.min_height %> <br>
Nausea Rating: <%= @attraction.nausea_rating %> <br>
Happiness Rating: <%= @attraction.happiness_rating %> <br>

<br>

<%= form_for (@ride) do |f| %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.hidden_field :attraction_id, value:"#{@attraction.id}" %>
    <%= f.submit "Go on this ride"%>
<% end %>

<br>
  <%= link_to "Edit Attraction", "/attractions/#{@attraction.id}/edit" %>

  <% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>
