<p><%= @attraction.name %></p>
<p>tickets: <%= @attraction.tickets %></p>
<p>nausea rating: <%= @attraction.nausea_rating %></p>
<p>happiness rating: <%= @attraction.happiness_rating %></p>
<p>min height: <%= @attraction.min_height %></p>
<p><%= @attraction.height %></p>
t.integer :tickets
t.integer :nausea_rating
t.integer :happiness_rating
t.integer :min_height
