
Name: <%= @attraction.name %> <br>
Total Number of Users: <%= @attraction.users.length %> <br>
Ticket Requirement: <%= @attraction.tickets %> <br>
Height Requirement: <%= @attraction.min_height %> <br>
Nausea Rating: <%= @attraction.nausea_rating %> <br>
Happiness Rating: <%= @attraction.happiness_rating %> <br>


  <%= button_to "Go on this ride", '/ride' %>

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

<br>
  <%= link_to "Edit Attraction", '/attractions/#{@attraction.id}/edit' %>

  <% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>
