<h1> Here is the info about this Attraction </h1>


<h3> Name: <%=@attraction.name%> </h3>

<h3> Total Number of Users: <%=@attraction.users.count%> </h3>

<h3> Ticket Requirement: <%=@attraction.tickets%> </h3>

<h3> Height Requirement: <%=@attraction.min_height%> </h3>

<h3> Nausea Rating: <%=@attraction.nausea_rating%> </h3>

<h3> Happiness Rating: <%=@attraction.happiness_rating%> </h3>

<%= form_tag ({controller: 'rides', action: 'create', method: 'post'}) do %>
  <input type="hidden" value="#{@user.id}" name="ride[user_id]" id="ride_user_id">
  <input type="hidden" value= "#{@attraction.id}" name="ride[attraction_id]" id="ride_attraction_id">

  <input type=submit value='Go on this ride'>
<% end %>
