<%# <button href="/users/:id">Go on this ride</button> %>
<%# <% binding.pry %> 
<%# <%= link_to 'Go on this ride',  ride_path  %>
<p>name: <%= @attraction.name  %></p>
<p>min height: <%=  @attraction.min_height %></p>
<p>happiness rating: <%=  @attraction.happiness_rating %></p>
<p>nausea rating: <%=  @attraction.nausea_rating %></p>
<p>tickets: <%=  @attraction.tickets %></p>

<%= button_to "Go on this ride", ride_path, :id => "open-contacts-dialog-btn", :method => :get %>

<% if @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path, :id => "open-contacts-dialog-btn", :method => :get %>
<% end %>




