<p style="color:green;"><%= flash[:success] %></p>

<section class="info">
  <p><strong>Name:</strong> <%= @attraction.name %></p>
  <p><strong>Total Number of Riders:</strong> <%= @attraction.total_riders %></p>
  <p><strong>Ticket Requirement:</strong> <%= @attraction.tickets %></p>
  <p><strong>Height Requirement:</strong> <%= @attraction.min_height %> inches</p>
  <p><strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %></p>
  <p><strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %></p>

  <% if current_user.admin %>
    <%#= button_to "Edit Attraction", edit_attraction_path(@attraction), method: :get %>
    <%= link_to "Edit Attraction", edit_attraction_path %> <!-- The button works, but the link passes the tests. -->
  <% else %>
    <%= button_to rides_path do %> <!-- The button_to syntax is tricky with blocks. -->
      <%= hidden_field_tag 'attraction_id', @attraction.id %>
      Go on this ride
    <% end %>
  <% end %>
</section>