<h1>Attraction Show Page </h1>
Name: <%= @attraction.name %><br>
Tickets Needed: <%= @attraction.tickets %><br>
Nausea: <%= @attraction.nausea_rating %><br>
Happiness: <%= @attraction.happiness_rating %><br>
Minimum Height: <%= @attraction.min_height %><br>

<%#= link_to "Go on this ride", attraction_path(@attraction)%>








<!--<%# if @user.admin == true %>
<%#= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<%# end %>-->
