<h1><%= @attraction.name %></h1>
<h3>Minimum Height: <%= @attraction.min_height %> inches</h3>
<h3>Tickets Required: <%= @attraction.tickets %></h3>
<br>
<% if @user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
    <%= button_to "Go on this ride", attraction_rides_path(@attraction) %>
<% end %>
<br></br>
<%= link_to "See attractions", attractions_path %>