<h1> Here is the info about this Attraction </h1>


<h3> Name: <%=@attraction.name%> </h3>

<h3> Total Number of Users: <%=@attraction.users.count%> </h3>

<h3> Ticket Requirement: <%=@attraction.tickets%> </h3>

<h3> Height Requirement: <%=@attraction.min_height%> </h3>

<h3> Nausea Rating: <%=@attraction.nausea_rating%> </h3>

<h3> Happiness Rating: <%=@attraction.happiness_rating%> </h3>

<%= form_tag ({controller: 'rides', action: 'rides', method: 'post'}) do %>
  <input type=submit value='Go on this ride'>
<% end %>
