<h2><%= @attraction.name %></h2>

<p>Tickets: <%= @attraction.tickets %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<%= link_to "Go on this ride" %>
