<h1><%= @attraction.name %></h1>
<% if @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction)%>
<% else %>
  <%= form_tag("/users/#{session[:user_id]}", method: :patch) do %>
    <%= hidden_field_tag :attraction_id, @attraction.id %>
    <%= submit_tag "Go on this ride" %>
  <% end %>
<% end %>
