<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @attraction.name %></p>
    <!-- Total Number of Users:  -->
    <p><strong>Ticket Requirement:</strong> <%= @attraction.tickets %></p>
    <p><strong>Height Requirement:</strong> <%= @attraction.min_height %> inches</p>
    <p><strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %></p>
    <%= button_to 'Go on this ride', ride_attraction_path, class: 'btn btn-primary' %>
      <!-- <a href="/attractions/1/edit">Edit Attraction</a><p></p> -->
  </div>

</div>
