<div class="center">
  <div class="info">

    <p>
      <strong><%= @attraction.name %></strong>
    </p>

    <p>
      <strong>Tickets required:</strong> <%= @attraction.tickets %>
    </p>

    <p>
      <strong>Minimum height:</strong> <%= @attraction.min_height %>
    </p>

    <p>
      <strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %>
    </p>

    <p>
      <strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %>
    </p>

    <% if admin? %>
    <p>
      <strong><%= link_to "Edit Attraction", edit_attraction_url(@attraction) %></strong>
    </p>
    <% else %>
      <%= form_for @ride, url: '/rides', method: :post do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :attraction_id, value: @attraction.id %>

        <%= f.submit "Go on this ride" %>
      <% end %>
    <% end %>
  </div>
</div>
