<h3><%=@attraction.name%></h3>

<h4>Total Riders: <%=@attraction.users.count%></h4>
<h4>Ticket Requirement: <%=@attraction.tickets%></h4>
<h4>Height Requirement: <%=@attraction.min_height%></h4>
<h4>Nausea Rating: <%=@attraction.nausea_rating%></h4>
<h4>Happiness Rating: <%=@attraction.happiness_rating%></h4>



<%=form_for @attraction.rides.build do |f|%>
<%= f.hidden_field :attraction_id %>
<%= f.hidden_field :user_id %>
<%=f.submit "Go on #{@attraction.name}" if !admin_user?%>
<%=link_to "See attractions", edit_admin_attraction_path(@attraction) if admin_user?%>
<%end%>
