<h1><%=@attraction.name%></h1>

<%= user_action(@attraction) %>

<ul>
  <li> Tickets: <%=@attraction.tickets %> </li>
  <li> Happiness: <%=@attraction.happiness_rating %> </li>
  <li> Nausea: <%=@attraction.nausea_rating %> </li>
</ul>

