<h2><%= @attraction.name %></h2>
<ul>
  <li>Ticket Requirement: <%= @attraction.tickets %></li>
  <li>Nausea Rating: <%= @attraction.nausea_rating %></li>
  <li>Happiness Rating: <%= @attraction.happiness_rating %></li>
  <li>Height Requirement: <%= @attraction.min_height %></li>
</ul>

<% if !current_user.admin %>
  <%= form_for current_user %>
<% end %>
