<p>Name: <%= @attraction.name %></p>
<p>Tickets: <%= @attraction.tickets %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<% if @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>

<%= form_for(@ride) do |f| %>
  <%= f.hidden_field :user_id, :value => @ride.user_id %>
  <%= f.hidden_field :attraction_id, :value => @ride.attraction_id %>
  <p><%= f.submit "Go on this ride" %></p>
<% end %>
