<h1><%= @attraction.name %></h1>
Tickets Cost: <%= @attraction.tickets %><br />
Nausea Rating: <%= @attraction.nausea_rating %><br />
Happiness Rating: <%= @attraction.happiness_rating %><br />
Min. Height: <%= @attraction.min_height %><br />
<br />

<% if current_user.admin %>

            <%= link_to "Edit Attraction: Show #{@attraction.name}", edit_attraction_path(@attraction) %>
<% else %>
            <%= form_tag action: 'create', controller: 'rides', method: :post do %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= hidden_field_tag 'attraction_id', @attraction.id %>
                <%= submit_tag "Go on this ride" %>
            <% end %>
<% end %>
<br>
<br>
<p><%= link_to 'All Attractions', attractions_path %></p>
