<% if @user.admin == true || @user.admin == 1%>
<%= link_to 'Edit Attraction', edit_attraction_path(@attraction) %>
<% end %>

<h2><%= @attraction.name %></h2>
Min. Height: <%= @attraction.min_height %><br>
Nausea Rating: <%= @attraction.nausea_rating %><br>
Happiness Rating: <%= @attraction.happiness_rating %><br>
# of Tickets: <%= @attraction.tickets %><br>
<%=  form_tag user_path(@user), :method=> :get do  %>
<%= hidden_field_tag :attraction, @attraction.id%>
<%= submit_tag ('Go on this ride') %>
<% end %>
