<h3>Name: <%= @attraction.name %></h3>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Tickets: <%= @attraction.tickets %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<%= form_tag ({controller: 'users', action: 'ride', method: 'post'}) do %>
    <%= hidden_field(:attraction, :id) %>
    <%= submit_tag "Go on this ride" %>
    <% end %>

<%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
