
<h3><%=@attraction.name%></h3>
<h3><%=@attraction.tickets%></h3>
<h3><%=@attraction.nausea_rating%></h3>
<h3><%=@attraction.happiness_rating%></h3>
<h3><%=@attraction.min_height%></h3>
<%=button_to "Go on this ride", controller: 'attractions', action: 'create', method: 'post', id: "#{@attraction.id}" %>
