<h1><%= @attraction.name %></h1>

<%= form_for (@ride) do |f| %>
    <%= f.hidden_field :user_id, value:"#{current_user.id}" %>
    <%= f.hidden_field :attraction_id, value:"#{@attraction.id}" %>
    <%= f.submit "Go on this ride"%>
<% end %>

<% if current_user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<%end%>


