<div class="info">
  <p>Name: <%= @attraction.name %> </p>
  <p>Tickets Required: <%= @attraction.tickets %> </p>
  <p>Height Requirements: <%= @attraction.min_height %> inches</p>
  <p>Nausea Rating: <%= @attraction.nausea_rating %> </p>
  <p>Happiness Rating: <%= @attraction.happiness_rating %> </p>


</div>

<!-- form to post to NEW RIDE ... submit button -->
