<p><b>Name:</b> <%= @attraction.name %></p>
<p><b>Total Number of Users:</b> <%= @attraction.users.uniq.count %></p>
<p><b>Ticket Requirement:</b> <%= @attraction.tickets %></p>
<p><b>Height Requirement:</b> <%= @attraction.min_height %></p>
<p><b>Nausea Rating:</b> <%= @attraction.nausea_rating %></p>
<p><b>Happiness Rating:</b> <%= @attraction.happiness_rating %></p>
<% if current_user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
  <form action="/rides/new" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="attraction_id" value="<%= @attraction.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <button type="submit" name="button">Go on this ride</button>
  </form>
<% end %>
