<label>Name</label>
<%= @attraction.name %>

<label>Ticket Requirement</label>
<%= @attraction.tickets %>

<label>Height Requirement</label>
<%= @attraction.min_height %>

<label>Nausea Rating</label>
<%= @attraction.nausea_rating %>

<label>Happiness Rating</label>
<%= @attraction.happiness_rating %>

<form action="<%= edit_user_path(@user.id)%>" method="post">
  <input type="hidden" name="user_id" value="@user">
  <input type="hidden" name="attraction_id" value="<%= @attraction.id %>">
  <input type="submit" value="Go on this ride">
</form>


<% if @user.admin %>
<%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>
