<h1><%= @attraction.name %></h1>
<h5>Ticket Requirement: <%= @attraction.tickets %></h5>
<h5>Height Requirement:: <%= @attraction.min_height %></h5>
<h5>Nausea Rating: <%= @attraction.nausea_rating %></h5>
<h5>Happiness Rating: <%= @attraction.happiness_rating %></h5>

<button type="button" class="btn btn-secondary">Go on this ride</button>
