<h3> This is the attraction show page</h3>
 <p>attraction_id</p>
 <h3><%= @attraction.id %> </h3> <br>
  <p>attraction_name</p>
  <h3><%= @attraction.name %> </h3> <br>
   <p>attraction_min_height</p>
  <h3><%= @attraction.min_height %> </h3> <br>
   <p>attraction_nausea_rating</p>
   <h3><%= @attraction.nausea_rating %> </h3> <br>
    <p>attraction_happiness_rating</p>
    <h3><%= @attraction.happiness_rating %> </h3> <br>
     <p>attraction_tickets</p>
     <h3><%= @attraction.tickets %> </h3> <br>

    <form method= "post" action= "/rides/new" >
     <%= hidden_field_tag :user_id, current_user.id %>

    <%= hidden_field_tag :attraction_id, @attraction.id %>
    <input type = "submit", value = "Go on this ride" 

    </form>