<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<h2>Name: <%= @attraction.name %></h2>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Tickets Required: <%= @attraction.tickets %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>

<%= button_to "Go on this ride", ride_path, params: {:attraction_id => @attraction.id, :user_id => current_user.id} %>

<p><%= link_to "Edit Attraction", edit_attraction_path if current_user.admin %></p>