<p>Name:<%= @attraction.name %></p>
<br><br>
<p>Total Number of Users: <%= @attraction.users %></p> 
<br><br>
<p>Ticket Requirement: <%= @attraction.tickets %></p> 
<br><br>
<p>Height Requirement: <%= @attraction.height %></p>
<br><br>
<p>Nausea Rating: <%= @attraction.nausea %></p> 
<br><br>
<p>Happiness Rating: <%= @attraction.happiness %></p> 

