<h1><%= @attraction.name %></h1>
<%= form_for @ride , url: '/rides' do |f|%>
<%= f.hidden_field :attraction_id, value: @attraction.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.button 'Go on this ride' %>
<% end %>
