<%= @attraction.name %>

<% if @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
  <%= form_tag rides_path do %>
    <%= hidden_field_tag :user_id, value=session[:user_id] %>
    <%= hidden_field_tag :attraction_id, value=@attraction.id %>
    <div><%= submit_tag 'Go on this ride' %></div>
  <% end %>
<% end %>
