<p>Name: <%= @attraction.name %></p>
<p>Tickets: <%= @attraction.tickets %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Minimum Height: <%= @attraction.min_height %></p>
