<h1><%= @attraction.name %></h1>
<p>Minimum Height: <%= @attraction.min_height %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p>Tickets Required: <%= @attraction.tickets %></p>
<button href="#">Go on this ride</button>
