<h1><%= @attraction.name %></h1>
<p>Number of tickets required: <%= @attraction.tickets %></p>
<p>Nausea rating: <%= @attraction.nausea_rating %></p>
<p>Happiness rating: <%= @attraction.happiness_rating %></p>
<p>height required: <%= @attraction.min_height %></p>
<br></br>

<% if !current_user.admin %>  
  <p><%= button_to "Go on this ride", user_path(current_user.id) %></p>
<% else %>
  <p><%= link_to "Edit Attraction", edit_attraction_path(@attraction) %></p>
<% end %>