<p>Name: <%= @attraction.name %></p>
<p>Ticket Requirement: <%= @attraction.tickets %></p>
<p>Height Requirement: <%= @attraction.min_height %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>


<%= form_tag('/rides', method: "post") do %>
  <%= hidden_field_tag 'attraction_id', @attraction.id %>
  <%= submit_tag "Go on this ride"%>
<%end%>