<div class="row mt-4">
  <div class="col">
    <h3><%= @attraction.name %></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "<< all attraction", attractions_path %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<% if admin? %>

<div class="row">
  <div class="col">
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %> | <%= link_to "delete", @attraction, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<% end %>

<div class="row">
  <div class="col">
    <p>
      Tickets: <%= @attraction.tickets %>
    </p>
    <p>
      Nausea Rating: <%= @attraction.nausea_rating %>
    </p>
    <p>
      Happiness Rating: <%= @attraction.happiness_rating %>
    </p>
    <p>
      Minimum Height: <%= @attraction.min_height %>
    </p>
  </div>
</div>

<% unless admin? %>
  <div class="row">
    <div class="col">
      <%= form_for @ride do |f| %>
        <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
        <%= f.hidden_field :attraction_id, value: "#{@attraction.id}" %>
        <%= f.submit "Go on this ride", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>