<%= @attraction.name %>

<%= form_tag rides_path do %>
  <%= text_field_tag :user_id, value=session[:user_id] %>
  <%= text_field_tag :attraction_id, value=@attraction.id %>
  <div><%= submit_tag 'Go on this ride' %></div>
<% end %>
