<h1>Attraction Show Page</h1>
<%= @attraction.name %>
<%= @attraction.users.count %>
<%= @attraction.tickets %>
<%= @attraction.height %>
<%= @attraction.nausea %>
<%= @attraction.happiness %>
<% if user.admin link_to "Edit Attraction", attraction_edit_link %>