<%= link_to "Go on this ride", new_ride_path %>
<%= @attraction.name %>
<label>Height Requirement:</label><%= @attraction.min_height %>
<label>Number of Tickets to Ride:</label><%= @attraction.tickets %>
<label>Nausea Rating:</label><%= @attraction.nausea_rating %>
<label>Happiness Rating:</label><%= @attraction.happiness_rating %>
