<h1><%=@attraction.name%></h1>

<ul>
  <li>Happiness: <%=@attraction.happiness_rating%></li>
  <li>Nausea: <%=@attraction.nausea_rating%></li>
  <li>Height: <%=@attraction.min_height%></li>
  <li>Tickets: <%=@attraction.tickets%></li>
</ul>
