<ul>
    <li><%= label_tag :name %><%= ": #{@attraction.name}" %></li>
    <li><%= label_tag "Total Number of Users " %><%= ": #{@attraction.users.size}" %></li>
    <li><%= label_tag "Ticket Requirement " %><%= ": #{@attraction.tickets}" %></li>
    <li><%= label_tag "Height Requirement " %><%= ": #{@attraction.min_height}" %></li>
    <li><%= label_tag "Nausea Rating " %><%= ": #{@attraction.nausea_rating}" %></li>
    <li><%= label_tag "Happiness Rating " %><%= ": #{@attraction.happiness_rating}" %></li>
    <% if @user.admin %>
        <%= link_to 'Edit Attraction', edit_attraction_path %>
    <% else %>
        <%= button_to "Go on this ride", rides_path, params: {"ride[user_id]" => @user.id, "ride[attraction_id]" => @attraction.id} %>
    <%end%>
</ul>