<div class="center">
  <div class="info">
    <p><strong>Name: </strong><%= @attraction.name %></p>
    <p><strong>Total Number of Users: </strong> Need to go through joins table to get info </p>
    <p><strong>Ticket Requirement: </strong><%= @attraction.tickets %></p>
    <p><strong>Height Requirement: </strong><%= @attraction.min_height %></p>
    <p><strong>Nausea Rating: </strong><%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating: </strong><%= @attraction.happiness_rating %></p>

    <% if current_user.admin %>
      <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
    <% else %>
      <!-- how can I apply a class within a form helper? -->
      <%= form_tag user_path(current_user), :method => "PATCH" do %>
        <%= hidden_field_tag "attraction_id", value = @attraction.id %>
        <%= submit_tag "Go on this ride" %>
      <% end %>
    <% end %>

  </div>
</div>
