<p><strong>Name: </strong><%= @attraction.name %></p><br>
<p><strong>Total Number of Users: </strong><%= @attraction.name %></p><br>
<p><strong>Ticket Requirement: </strong><%= @attraction.tickets %></p><br>
<p><strong>Height Requirement: </strong><%= @attraction.min_height %></p><br>
<p><strong>Nausea Rating: </strong><%= @attraction.nausea_rating %></p><br>
<p><strong>Happiness Rating: </strong><%= @attraction.happiness_rating %></p><br><br>

<button type="button"><%= link_to "Go on this ride", user_path(@user) %></button>
