<p>Name: <%= @attraction.name %></p>
<p>Total Number of Users: <%= @attraction.users.count %></p>
<p>Ticket Requirement: <%= @attraction.tickets %></p>
<p>Height Requirement: <%= @attraction.min_height %> inches</p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>

<%= link_to "Edit this Attraction", edit_attraction_path if @user.is_admin? %><br>

<form action="/rides" method="post">
  <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
  <%= tag(:input, :type => "hidden", :name => :attraction_id, :value => @attraction.id) %>
  <input type="submit" value="Go on this ride">
</form>
